* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    cursor: pointer;
}
img:hover {
    transition: all 0.5s;
    transform: scale(0.98);
}
.swiper-container {
    img:hover {
        transform: scale(1);
    }
}
//国美发现
.gome-head {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 120px;
    vertical-align: middle;
    z-index: 980;
    .logo {
        width: 125px;
        height: 56px;
        margin: 32px 10px 0 0;
        float: left;
        a {
            width: 125px;
            height: 56px;
            display: block;
            background: url("../images/logo.png") 0 0 no-repeat;
            text-indent: -99px;
            overflow: hidden;
        }
    }
    .slogan {
        background: url('../images/find.png') no-repeat;
        width: 225px;
        height: 70px;
        background-size: 50%;
        display: block;
        margin: 35px 0 0 10px;
        float: left;
    }
    .topsearch {
        position: absolute;
        width: 500px;
        top: 32px;
        left: 385px;
        z-index: 91;
        .searchbox {
            border: 1px solid #dd00a7;
            position: relative;
            font-size: 14px;
            height: 30px;
            background: #fff;
            .search-type-dropdown {
                position: absolute;
                top: 0;
                left: 0;
                font-family: "Microsoft YaHei";
                font-size: 14px;
                color: #a5a5a5;
                float: left;
                width: 62px;
                height: 30px;
                line-height: 30px;
                .search-type {
                    cursor: pointer;
                    position: relative;
                    width: 42px;
                    padding: 0 10px;
                    height: 30px;
                    border-right: 1px solid #dd00a7;
                    span {
                        font-family: "Microsoft YaHei";
                        font-size: 14px;
                        color: #a5a5a5;
                        line-height: 30px;
                    }
                    i {
                        position: absolute;
                        width: 11px;
                        height: 7px;
                        right: 9px;
                        top: 11px;
                        display: block;
                    }
                }
                ul {
                    cursor: pointer;
                    display: none;
                    position: absolute;
                    left: -1px;
                    right: -1px;
                    top: 30px;
                    z-index: 9999;
                    border: 1px solid #dd00a7;
                    background-color: #fff;
                    li {
                        width: 42px;
                        padding: 0 10px;
                        height: 25px;
                        line-height: 25px;
                    }
                    li:hover {
                        background-color: #f3f3f3;
                    }
                }
            }
            input {
                border: none;
                width: 310px;
                padding: 5px 5px 5px 72px;
                line-height: 20px;
                float: left;
                font-size: 14px;
                font-family: arial;
                color: #5e5e5e;
                background-color: transparent;
                outline: none;
            }
            .ipt {
                font-family: "microsoft yahei";
                position: absolute;
                top: 0;
                left: 72px;
                right: 110px;
                line-height: 30px;
                height: 30px;
                overflow: hidden;
                color: #bbb;
                cursor: text;
            }
            button {
                outline: none;
                width: 90px;
                height: 30px;
                border: none;
                cursor: pointer;
                float: right;
                display: inline;
                background: #dd00a7;
                font: 16px/30px "microsoft yahei";
                color: #fff;
                letter-spacing: 2px;
                text-indent: 0;
            }
            .voice-search {
                margin-right: 3px;
                opacity: 0.55;
                float: right;
                padding: 5px 0;
                cursor: pointer;
                width: 15px;
                height: 20px;
                background: url("../images/huatong.png") no-repeat no-repeat center;
                background-size: 13px 19px;
            }
        }
        .hotword {
            margin-top: 6px;
            overflow: hidden;
            line-height: 14px;
            height: 14px;
            a {
                display: inline-block;
                margin-right: 5px;
                line-height: 14px;
                font-family: "microsoft yahei";
                font-size: 12px;
                margin-right: 5px;
                color: #a5a5a5;
            }
            .hightlight {
                color: #f5004b;
            }
        }
    }
    .mygome-side {
        position: absolute;
        right: 0px;
        top: 32px;
        z-index: 92;
        width: 240px;
        .topmenu {
            float: right;
            display: inline;
            z-index: 96;
            position: relative;
            font-size: 12px;
            .shopcartbox {
                float: left;
                display: inline;
                vertical-align: middle;
                position: relative;
                .carlinkbox {
                    display: inline-block;
                    .cartlink {
                        display: inline;
                        padding: 5px 20px 0 45px;
                        line-height: 34px;
                        height: 34px;
                        width: 75px;
                        border: none;
                        margin: 1px;
                        color: #5e5e5e;
                        .i-cart {
                            position: absolute;
                            width: 27px;
                            height: 20px;
                            top: 11px;
                            left: 10px;
                            .shopnum {
                                font-family: arial;
                                position: absolute;
                                height: 18px;
                                line-height: 18px;
                                padding: 0 3px;
                                top: -18px;
                                min-width: 14px;
                                text-align: center;
                                left: 15px;
                                background-color: #a5a5a5;
                                color: #fff;
                                font-weight: 700;
                                span {
                                    font-family: arial;
                                    line-height: 18px;
                                    color: #fff;
                                    font-weight: 700;
                                }
                                i {
                                    position: absolute;
                                    width: 0;
                                    height: 0;
                                    border: 4px dashed transparent;
                                    border-color: transparent transparent transparent #a5a5a5;
                                    border-right: 0;
                                    border-left-style: solid;
                                    overflow: hidden;
                                    bottom: -4px;
                                    left: 5px;
                                }
                            }
                        }
                        // .cartext{
                        // }
                        b {
                            display: block;
                            z-index: 96;
                            position: absolute;
                            width: 0;
                            height: 0;
                            border: 4px dashed transparent;
                            border-color: #5e5e5e transparent transparent;
                            border-bottom: 0;
                            border-top-style: solid;
                            top: 19px;
                            right: 0px;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}
// 4个跳转链接
.pc-wrap-box {
    background: #f8f8f8;
    height: 39px;
    border-bottom: 1px solid #dd00a7;
    font-size: 14px;
    ul {
        height: 39px;
        width: 1200px;
        margin: 0 auto;
        li {
            float: left;
            padding: 0 13px;
            line-height: 35px;
            height: 35px;
            margin: 0 20px 0 0;
            a {
                color: #333;
            }
            a:hover {
                color: #dd00a7;
            }
        }
        .quanzi111 {
            border-bottom: 5px solid #dd00a7;
            a {
                color: #dd00a7;
            }
        }
    }
}
// 内容
.container-box {
    background-color: #f6f6f6;
    padding-top: 0.1px;
    .container {
        width: 1200px;
        margin: 0 auto;
        .top-list {
            width: 100%;
            height: 400px;
            margin-top: 20px;
            .swiper-container {
                margin-right: 20px;
                width: 700px;
                height: 400px;
                float: left;
            }
            .hot-content {
                width: 440px;
                float: left;
                padding: 20px;
                background-color: #fff;
                display: block;
                margin-right: -10px;
                h2 {
                    font-size: 16px;
                    color: #333;
                    font-weight: inherit;
                }
                .tab-control {
                    padding-top: 2px;
                    .tab-tags {
                        border-bottom: 1px solid #eee;
                        width: 440px;
                        height: 43px;
                        ul {
                            overflow: hidden;
                            li {
                                margin-right: 19px;
                                padding: 10px 0;
                                display: inline-block;
                                font-size: 14px;
                                color: #5e5e5e;
                                cursor: pointer;
                            }
                            .tab-li {
                                color: #f65557;
                                border-bottom: 2px solid #f65557;
                            }
                        }
                    }
                    .tab-contents {
                        border-bottom: 1px dashed #ccc;
                        margin-top: 20px;
                        .tab-ul {
                            display: none;
                            ul {
                                display: flex;
                                width: 440px;
                                height: 200px;
                                li {
                                    float: left;
                                    width: 140px;
                                    margin: 0 10px 20px 0;
                                    cursor: pointer;
                                    position: relative;
                                    img {
                                        width: 140px;
                                        height: 140px;
                                    }
                                    a {
                                        span {
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                            display: inline-block;
                                            margin-top: 14px;
                                            width: 140px;
                                            cursor: pointer;
                                            color: #333333;
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                        .ul-active {
                            display: block;
                        }
                    }
                    .tab-bottom {
                        overflow: hidden;
                        margin-top: 20px;
                        ul {
                            width: 440px;
                            overflow: hidden;
                            li {
                                position: relative;
                                width: 210px;
                                margin-right: 10px;
                                float: left;
                                a {
                                    display: block;
                                    overflow: hidden;
                                    margin-bottom: 4px;
                                    cursor: pointer;
                                    span {
                                        color: #333333;
                                        font-size: 14px;
                                        display: inline-block;
                                        max-width: 182px;
                                    }
                                    .hot {
                                        display: inline-block;
                                        width: 16px;
                                        height: 16px;
                                        background: url("../images/fire.png") 0 50% no-repeat;
                                        background-size: 16px 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// 热门话题
.hot-topic {
    background-color: #f6f6f6;
    h2 {
        width: 1200px;
        margin: 0 auto;
        color: #333;
        font-size: 24px;
        padding: 14.5px 0;
        font-weight: inherit;
    }
    .hot-ul {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            margin-bottom: 15px;
            background: #fff;
            .hot-top {
                border-radius: 20px;
                position: relative;
                img {
                    display: block;
                    width: 230px;
                    height: 150px;
                    transition: all 0.5s;
                }
                .head-hot {
                    border-radius: 20px;
                    color: #999;
                    overflow: hidden;
                    display: flex;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    align-items: center;
                    img {
                        display: block;
                        width: 18px;
                        height: 18px;
                        margin: 2px;
                        border: 2px solid #ccc;
                        border-radius: 50%;
                    }
                    span {
                        display: none;
                        padding: 0 6px;
                        font-size: 12px;
                        color: #333;
                    }
                }
            }

            .hot-words {
                padding: 18px 22px;
                height: 50px;
                .p1 {
                    font-size: 14px;
                    color: #333;
                    width: 186px;
                    font-weight: inherit;
                }
                .p2 {
                    margin-top: 8px;
                    font-weight: inherit;
                    span {
                        background: url("../images/sprite-icon.png");
                        margin-right: 10px;
                        display: inline-block;
                        padding-left: 15px;
                        height: 16px;
                        line-height: 16px;
                        i {
                            vertical-align: 1px;
                            color: #888;
                            margin-left: 5px;
                            cursor: pointer;

                            font-weight: inherit;
                            color: #888888;
                            font-size: 12px;
                            margin-left: 5px;
                            font-style: normal;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}
//品质生活
.life {
    background-color: #f6f6f6;
    .life-banxin {
        width: 1200px;
        margin: 0 auto;
        h2 {
            color: #333;
            font-size: 24px;
            padding: 14.5px 0;
            font-weight: inherit;
        }
        .ul1 {
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            .li1 {
                width: 290px;
                background-color: #fff;
                position: relative;
                .d1 {
                    .d11 {
                        img {
                            transition: all 0.5s;
                            width: 290px;
                            height: 190px;
                            position: relative;
                            display: block;
                        }
                        .head-hot1 {
                            border-radius: 20px;
                            color: #999;
                            overflow: hidden;
                            display: flex;
                            position: absolute;
                            top: 10px;
                            left: 10px;
                            align-items: center;
                            img {
                                display: block;
                                width: 18px;
                                height: 18px;
                                margin: 2px;
                                border: 2px solid #ccc;
                                border-radius: 50%;
                            }
                            span {
                                display: none;
                                padding: 0 6px;
                                font-size: 12px;
                                color: #333;
                            }
                        }
                    }
                    .img-box {
                        padding: 10px;
                        overflow: hidden;
                        span {
                            position: relative;
                            display: block;
                            float: left;
                            z-index: 6;
                            width: 25%;

                            img {
                                margin: 0 auto;
                                display: block;
                            }
                            b {
                                width: 60px;
                                text-align: center;
                                color: #e3101e;
                                font-size: 12px;
                                margin-top: 5px;
                                margin: 0 auto;
                                font-family: inherit;
                                font-weight: inherit;
                                font-style: normal;
                                text-align: center;
                            }
                        }
                    }
                    .text {
                        line-height: 26px;
                        padding-top: 18px;
                        margin: 0 10px 18px;
                        position: relative;
                        z-index: 7;
                        border-top: 1px dashed #e6e6e6;
                        a {
                            font-size: 14px;
                            height: 16px;
                            line-height: 16px;
                            color: #333;
                            display: block;
                            width: 270px;
                            overflow: hidden;
                        }
                        .p1 {
                            display: block;
                            color: #a5a5a5;
                            height: 36px;
                            line-height: 18px;
                            width: 270px;
                            margin-top: 14px;
                            font-size: 12px;
                            overflow: hidden;
                        }
                        .p2 {
                            margin-top: 8px;
                            font-weight: inherit;
                            span {
                                background: url("../images/sprite-icon.png");
                                margin-right: 10px;
                                display: inline-block;
                                padding-left: 15px;
                                height: 16px;
                                line-height: 16px;
                                cursor: pointer;
                                i {
                                    vertical-align: 1px;
                                    color: #888;
                                    margin-left: 5px;
                                    font-weight: inherit;
                                    color: #888888;
                                    font-size: 12px;
                                    margin-left: 5px;
                                    font-style: normal;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//达人精选
.darenw {
    background-color: #f6f6f6;
    height: 642px;
    .daren {
        width: 1200px;
        margin: 0 auto;
        height: 642px;
        h2 {
            color: #333;
            font-size: 24px;
            padding: 14.5px 0;
            font-weight: inherit;
        }
        .daren-banxin {
            padding: 20px;
            background-color: #fff;
            overflow: hidden;
            .daren-left {
                float: left;
                width: 800px;
                margin-right: 20px;
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    margin-right: -20px;
                    li {
                        margin-right: 13px;
                        border: 1px solid #e6e6e6;
                        margin-bottom: 28px;
                        position: relative;
                        img {
                            width: 390px;
                            height: 255px;
                            display: block;
                        }
                        span {
                            position: absolute;
                            bottom: 0;
                            width: 350px;
                            height: 30px;
                            padding: 0 20px;
                            line-height: 30px;
                            text-align: center;
                            color: #fff;
                            font-size: 14px;
                            background: url("../images/black.png");
                        }
                    }
                    li:nth-child(3) {
                        margin-bottom: 0;
                    }
                    li:nth-child(4) {
                        margin-bottom: 0;
                    }
                }
            }
            .daren-right {
                width: 340px;
                float: left;
                display: flex;
                flex-wrap: wrap;
                ul {
                    margin-right: -19px;
                    li {
                        width: 160px;
                        margin-right: 19px;
                        float: left;
                        position: relative;
                        img {
                            width: 160px;
                            height: 100px;
                        }
                        span {
                            font-size: 13px;
                            color: #333;
                            margin: 8px 0;
                            height: 19px;
                            display: block;
                            width: 160px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
//推荐圈子
.recommend {
    background-color: #f6f6f6;
    .circle {
        width: 1200px;
        margin: 0 auto;
        h2 {
            color: #333;
            font-size: 24px;
            padding: 14.5px 0;
            font-weight: inherit;
        }
        ul {
            display: flex;
            justify-content: space-between;
            li {
                background: #fff;
                width: 290px;
                .top {
                    position: relative;
                    img {
                        width: 290px;
                        height: 190px;
                        display: block;
                    }
                    span {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: inline-block;
                        text-align: center;
                        padding: 0 5px;
                        height: 20px;
                        line-height: 20px;
                        background-color: #ff8000;
                        border-radius: 3px;
                        color: #fff;
                        font-size: 12px;
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        max-width: 80px;
                        transform: translateZ(0);
                    }
                }
                .bottom {
                    padding: 0 10px;
                    .p1 {
                        line-height: 24px;
                        padding: 10px 0 12px;
                        border-bottom: 1px dashed #e6e6e6;
                        overflow: hidden;
                        margin-bottom: 10px;
                        a {
                            margin-right: 16px;
                            color: #333;
                            display: inline-block;
                            span {
                                width: 115px;
                                display: inline-block;
                                font-size: 14px;
                                color: #333;
                                font-weight: 700;
                                cursor: pointer;
                            }
                        }
                        span {
                            font-size: 12px;
                            color: #888;
                            i {
                                color: #f65557;
                                font-style: normal;
                                margin-left: 4px;
                            }
                        }
                    }
                    .p2 {
                        font-size: 13px;
                        line-height: 28px;
                        display: inline-block;
                        width: 250px;
                        margin: 0 10px;
                        color: #5e5e5e;
                    }
                    .a1 {
                        width: 98px;
                        overflow: hidden;
                        height: 24px;
                        border: 1px solid #ff5757;
                        border-radius: 3px;
                        line-height: 24px;
                        text-align: center;
                        color: #ff5757;
                        display: block;
                        margin: 10px 0 18px 85px;
                        cursor: pointer;
                        em {
                            float: left;
                            background: url("../images/jia.png") no-repeat;
                            background-size: 100px 200px;
                            background-position: 0 0;
                            width: 10px;
                            height: 10px;
                            margin: 7px 8px 0 12px;
                        }
                        span {
                            float: left;
                            height: 100%;
                            line-height: 24px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

//逛逛商品
.goshoping {
    background-color: #f6f6f6;
    .go-banxin {
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        background-color: #fff;
        h2 {
            background-color: #f6f6f6;
            color: #333;
            font-size: 24px;
            padding: 14.5px 0;
            font-weight: inherit;
        }
        .list {
            background: url("https://css.meixincdn.com/m/pc/dist/images/circle/index/bg_blue.png?v=6e4e0d") no-repeat
                20px 20px;
            float: left;
            width: 180px;
            height: 439px;
            padding: 20px 0 20px 20px;
            margin-right: 20px;
            span {
                width: 138px;
                height: 28px;
                border: 1px solid #c7cff6;
                color: #9da9e5;
                display: block;
                text-align: center;
                line-height: 28px;
                margin: 10px 0 0 15px;
                background-color: #fff;
            }
            span:nth-child(1) {
                margin-top: 60px;
            }
            span:hover {
                background-color: #91a2f3;
                color: #fff;
                cursor: pointer;
            }
            .span-active{
                color: #fff;
                background-color: #9da9e5;
            }
        }
        // 91a2f3
        .cont {
            overflow: hidden;
            padding-top: 20px;
            width: 960px;
            float: left;
            .swiper-container {
                height: 440px;
                margin-right: 18px;
                width: 600px;
                float: left;
                border: 1px solid #ccc;
                .swiper-wrapper {
                    .swiper-slide {
                        img {
                            width: 600px;
                        }
                        span {
                            float: right;
                            margin-right: 50px;
                            padding: 6px 0;
                            color: #e3101e;
                            font-size: 20px;
                        }
                    }
                }
                .swiper-pagination {
                    z-index: 20;
                    bottom: 80px;
                    span {
                        background-color: #999;
                        width: 20px;
                        height: 3px;
                        border-radius: 0;
                        opacity: 1;
                    }
                    .swiper-pagination-bullet-active {
                        background-color: red;
                    }
                }
            }

            .cont-right {
                float: left;
                ul {
                    width: 340px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    li {
                        margin-bottom: 18px;
                        img {
                            display: block;
                            width: 162px;
                            border: 1px solid #e6e6e6;
                        }
                        span {
                            display: block;
                            color: red;
                            font-size: 14px;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
}
