* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  cursor: pointer;
}

img:hover {
  transition: all 0.5s;
  transform: scale(0.98);
}

.swiper-container img:hover {
  transform: scale(1);
}

.gome-head {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 120px;
  vertical-align: middle;
  z-index: 980;
}

.gome-head .logo {
  width: 125px;
  height: 56px;
  margin: 32px 10px 0 0;
  float: left;
}

.gome-head .logo a {
  width: 125px;
  height: 56px;
  display: block;
  background: url("../images/logo.png") 0 0 no-repeat;
  text-indent: -99px;
  overflow: hidden;
}

.gome-head .slogan {
  background: url("../images/find.png") no-repeat;
  width: 225px;
  height: 70px;
  background-size: 50%;
  display: block;
  margin: 35px 0 0 10px;
  float: left;
}

.gome-head .topsearch {
  position: absolute;
  width: 500px;
  top: 32px;
  left: 385px;
  z-index: 91;
}

.gome-head .topsearch .searchbox {
  border: 1px solid #dd00a7;
  position: relative;
  font-size: 14px;
  height: 30px;
  background: #fff;
}

.gome-head .topsearch .searchbox .search-type-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #a5a5a5;
  float: left;
  width: 62px;
  height: 30px;
  line-height: 30px;
}

.gome-head .topsearch .searchbox .search-type-dropdown .search-type {
  cursor: pointer;
  position: relative;
  width: 42px;
  padding: 0 10px;
  height: 30px;
  border-right: 1px solid #dd00a7;
}

.gome-head .topsearch .searchbox .search-type-dropdown .search-type span {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #a5a5a5;
  line-height: 30px;
}

.gome-head .topsearch .searchbox .search-type-dropdown .search-type i {
  position: absolute;
  width: 11px;
  height: 7px;
  right: 9px;
  top: 11px;
  display: block;
}

.gome-head .topsearch .searchbox .search-type-dropdown ul {
  cursor: pointer;
  display: none;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 30px;
  z-index: 9999;
  border: 1px solid #dd00a7;
  background-color: #fff;
}

.gome-head .topsearch .searchbox .search-type-dropdown ul li {
  width: 42px;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
}

.gome-head .topsearch .searchbox .search-type-dropdown ul li:hover {
  background-color: #f3f3f3;
}

.gome-head .topsearch .searchbox input {
  border: none;
  width: 310px;
  padding: 5px 5px 5px 72px;
  line-height: 20px;
  float: left;
  font-size: 14px;
  font-family: arial;
  color: #5e5e5e;
  background-color: transparent;
  outline: none;
}

.gome-head .topsearch .searchbox .ipt {
  font-family: "microsoft yahei";
  position: absolute;
  top: 0;
  left: 72px;
  right: 110px;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
  color: #bbb;
  cursor: text;
}

.gome-head .topsearch .searchbox button {
  outline: none;
  width: 90px;
  height: 30px;
  border: none;
  cursor: pointer;
  float: right;
  display: inline;
  background: #dd00a7;
  font: 16px/30px "microsoft yahei";
  color: #fff;
  letter-spacing: 2px;
  text-indent: 0;
}

.gome-head .topsearch .searchbox .voice-search {
  margin-right: 3px;
  opacity: 0.55;
  float: right;
  padding: 5px 0;
  cursor: pointer;
  width: 15px;
  height: 20px;
  background: url("../images/huatong.png") no-repeat no-repeat center;
  background-size: 13px 19px;
}

.gome-head .topsearch .hotword {
  margin-top: 6px;
  overflow: hidden;
  line-height: 14px;
  height: 14px;
}

.gome-head .topsearch .hotword a {
  display: inline-block;
  margin-right: 5px;
  line-height: 14px;
  font-family: "microsoft yahei";
  font-size: 12px;
  margin-right: 5px;
  color: #a5a5a5;
}

.gome-head .topsearch .hotword .hightlight {
  color: #f5004b;
}

.gome-head .mygome-side {
  position: absolute;
  right: 0px;
  top: 32px;
  z-index: 92;
  width: 240px;
}

.gome-head .mygome-side .topmenu {
  float: right;
  display: inline;
  z-index: 96;
  position: relative;
  font-size: 12px;
}

.gome-head .mygome-side .topmenu .shopcartbox {
  float: left;
  display: inline;
  vertical-align: middle;
  position: relative;
}

.gome-head .mygome-side .topmenu .shopcartbox .carlinkbox {
  display: inline-block;
}

.gome-head .mygome-side .topmenu .shopcartbox .carlinkbox .cartlink {
  display: inline;
  padding: 5px 20px 0 45px;
  line-height: 34px;
  height: 34px;
  width: 75px;
  border: none;
  margin: 1px;
  color: #5e5e5e;
}

.gome-head .mygome-side .topmenu .shopcartbox .carlinkbox .cartlink .i-cart {
  position: absolute;
  width: 27px;
  height: 20px;
  top: 11px;
  left: 10px;
}

.gome-head .mygome-side .topmenu .shopcartbox .carlinkbox .cartlink .i-cart .shopnum {
  font-family: arial;
  position: absolute;
  height: 18px;
  line-height: 18px;
  padding: 0 3px;
  top: -18px;
  min-width: 14px;
  text-align: center;
  left: 15px;
  background-color: #a5a5a5;
  color: #fff;
  font-weight: 700;
}

.gome-head .mygome-side .topmenu .shopcartbox .carlinkbox .cartlink .i-cart .shopnum span {
  font-family: arial;
  line-height: 18px;
  color: #fff;
  font-weight: 700;
}

.gome-head .mygome-side .topmenu .shopcartbox .carlinkbox .cartlink .i-cart .shopnum i {
  position: absolute;
  width: 0;
  height: 0;
  border: 4px dashed transparent;
  border-color: transparent transparent transparent #a5a5a5;
  border-right: 0;
  border-left-style: solid;
  overflow: hidden;
  bottom: -4px;
  left: 5px;
}

.gome-head .mygome-side .topmenu .shopcartbox .carlinkbox .cartlink b {
  display: block;
  z-index: 96;
  position: absolute;
  width: 0;
  height: 0;
  border: 4px dashed transparent;
  border-color: #5e5e5e transparent transparent;
  border-bottom: 0;
  border-top-style: solid;
  top: 19px;
  right: 0px;
  overflow: hidden;
}

.pc-wrap-box {
  background: #f8f8f8;
  height: 39px;
  border-bottom: 1px solid #dd00a7;
  font-size: 14px;
}

.pc-wrap-box ul {
  height: 39px;
  width: 1200px;
  margin: 0 auto;
}

.pc-wrap-box ul li {
  float: left;
  padding: 0 13px;
  line-height: 35px;
  height: 35px;
  margin: 0 20px 0 0;
}

.pc-wrap-box ul li a {
  color: #333;
}

.pc-wrap-box ul li a:hover {
  color: #dd00a7;
}

.pc-wrap-box ul .quanzi111 {
  border-bottom: 5px solid #dd00a7;
}

.pc-wrap-box ul .quanzi111 a {
  color: #dd00a7;
}

.container-box {
  background-color: #f6f6f6;
  padding-top: 0.1px;
}

.container-box .container {
  width: 1200px;
  margin: 0 auto;
}

.container-box .container .top-list {
  width: 100%;
  height: 400px;
  margin-top: 20px;
}

.container-box .container .top-list .swiper-container {
  margin-right: 20px;
  width: 700px;
  height: 400px;
  float: left;
}

.container-box .container .top-list .hot-content {
  width: 440px;
  float: left;
  padding: 20px;
  background-color: #fff;
  display: block;
  margin-right: -10px;
}

.container-box .container .top-list .hot-content h2 {
  font-size: 16px;
  color: #333;
  font-weight: inherit;
}

.container-box .container .top-list .hot-content .tab-control {
  padding-top: 2px;
}

.container-box .container .top-list .hot-content .tab-control .tab-tags {
  border-bottom: 1px solid #eee;
  width: 440px;
  height: 43px;
}

.container-box .container .top-list .hot-content .tab-control .tab-tags ul {
  overflow: hidden;
}

.container-box .container .top-list .hot-content .tab-control .tab-tags ul li {
  margin-right: 19px;
  padding: 10px 0;
  display: inline-block;
  font-size: 14px;
  color: #5e5e5e;
  cursor: pointer;
}

.container-box .container .top-list .hot-content .tab-control .tab-tags ul .tab-li {
  color: #f65557;
  border-bottom: 2px solid #f65557;
}

.container-box .container .top-list .hot-content .tab-control .tab-contents {
  border-bottom: 1px dashed #ccc;
  margin-top: 20px;
}

.container-box .container .top-list .hot-content .tab-control .tab-contents .tab-ul {
  display: none;
}

.container-box .container .top-list .hot-content .tab-control .tab-contents .tab-ul ul {
  display: flex;
  width: 440px;
  height: 200px;
}

.container-box .container .top-list .hot-content .tab-control .tab-contents .tab-ul ul li {
  float: left;
  width: 140px;
  margin: 0 10px 20px 0;
  cursor: pointer;
  position: relative;
}

.container-box .container .top-list .hot-content .tab-control .tab-contents .tab-ul ul li img {
  width: 140px;
  height: 140px;
}

.container-box .container .top-list .hot-content .tab-control .tab-contents .tab-ul ul li a span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  margin-top: 14px;
  width: 140px;
  cursor: pointer;
  color: #333333;
  font-size: 14px;
}

.container-box .container .top-list .hot-content .tab-control .tab-contents .ul-active {
  display: block;
}

.container-box .container .top-list .hot-content .tab-control .tab-bottom {
  overflow: hidden;
  margin-top: 20px;
}

.container-box .container .top-list .hot-content .tab-control .tab-bottom ul {
  width: 440px;
  overflow: hidden;
}

.container-box .container .top-list .hot-content .tab-control .tab-bottom ul li {
  position: relative;
  width: 210px;
  margin-right: 10px;
  float: left;
}

.container-box .container .top-list .hot-content .tab-control .tab-bottom ul li a {
  display: block;
  overflow: hidden;
  margin-bottom: 4px;
  cursor: pointer;
}

.container-box .container .top-list .hot-content .tab-control .tab-bottom ul li a span {
  color: #333333;
  font-size: 14px;
  display: inline-block;
  max-width: 182px;
}

.container-box .container .top-list .hot-content .tab-control .tab-bottom ul li a .hot {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/fire.png") 0 50% no-repeat;
  background-size: 16px 16px;
}

.hot-topic {
  background-color: #f6f6f6;
}

.hot-topic h2 {
  width: 1200px;
  margin: 0 auto;
  color: #333;
  font-size: 24px;
  padding: 14.5px 0;
  font-weight: inherit;
}

.hot-topic .hot-ul {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hot-topic .hot-ul li {
  margin-bottom: 15px;
  background: #fff;
}

.hot-topic .hot-ul li .hot-top {
  border-radius: 20px;
  position: relative;
}

.hot-topic .hot-ul li .hot-top img {
  display: block;
  width: 230px;
  height: 150px;
  transition: all 0.5s;
}

.hot-topic .hot-ul li .hot-top .head-hot {
  border-radius: 20px;
  color: #999;
  overflow: hidden;
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  align-items: center;
}

.hot-topic .hot-ul li .hot-top .head-hot img {
  display: block;
  width: 18px;
  height: 18px;
  margin: 2px;
  border: 2px solid #ccc;
  border-radius: 50%;
}

.hot-topic .hot-ul li .hot-top .head-hot span {
  display: none;
  padding: 0 6px;
  font-size: 12px;
  color: #333;
}

.hot-topic .hot-ul li .hot-words {
  padding: 18px 22px;
  height: 50px;
}

.hot-topic .hot-ul li .hot-words .p1 {
  font-size: 14px;
  color: #333;
  width: 186px;
  font-weight: inherit;
}

.hot-topic .hot-ul li .hot-words .p2 {
  margin-top: 8px;
  font-weight: inherit;
}

.hot-topic .hot-ul li .hot-words .p2 span {
  background: url("../images/sprite-icon.png");
  margin-right: 10px;
  display: inline-block;
  padding-left: 15px;
  height: 16px;
  line-height: 16px;
}

.hot-topic .hot-ul li .hot-words .p2 span i {
  vertical-align: 1px;
  color: #888;
  margin-left: 5px;
  cursor: pointer;
  font-weight: inherit;
  color: #888888;
  font-size: 12px;
  margin-left: 5px;
  font-style: normal;
  font-weight: 400;
}

.life {
  background-color: #f6f6f6;
}

.life .life-banxin {
  width: 1200px;
  margin: 0 auto;
}

.life .life-banxin h2 {
  color: #333;
  font-size: 24px;
  padding: 14.5px 0;
  font-weight: inherit;
}

.life .life-banxin .ul1 {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.life .life-banxin .ul1 .li1 {
  width: 290px;
  background-color: #fff;
  position: relative;
}

.life .life-banxin .ul1 .li1 .d1 .d11 img {
  transition: all 0.5s;
  width: 290px;
  height: 190px;
  position: relative;
  display: block;
}

.life .life-banxin .ul1 .li1 .d1 .d11 .head-hot1 {
  border-radius: 20px;
  color: #999;
  overflow: hidden;
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  align-items: center;
}

.life .life-banxin .ul1 .li1 .d1 .d11 .head-hot1 img {
  display: block;
  width: 18px;
  height: 18px;
  margin: 2px;
  border: 2px solid #ccc;
  border-radius: 50%;
}

.life .life-banxin .ul1 .li1 .d1 .d11 .head-hot1 span {
  display: none;
  padding: 0 6px;
  font-size: 12px;
  color: #333;
}

.life .life-banxin .ul1 .li1 .d1 .img-box {
  padding: 10px;
  overflow: hidden;
}

.life .life-banxin .ul1 .li1 .d1 .img-box span {
  position: relative;
  display: block;
  float: left;
  z-index: 6;
  width: 25%;
}

.life .life-banxin .ul1 .li1 .d1 .img-box span img {
  margin: 0 auto;
  display: block;
}

.life .life-banxin .ul1 .li1 .d1 .img-box span b {
  width: 60px;
  text-align: center;
  color: #e3101e;
  font-size: 12px;
  margin-top: 5px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: inherit;
  font-style: normal;
  text-align: center;
}

.life .life-banxin .ul1 .li1 .d1 .text {
  line-height: 26px;
  padding-top: 18px;
  margin: 0 10px 18px;
  position: relative;
  z-index: 7;
  border-top: 1px dashed #e6e6e6;
}

.life .life-banxin .ul1 .li1 .d1 .text a {
  font-size: 14px;
  height: 16px;
  line-height: 16px;
  color: #333;
  display: block;
  width: 270px;
  overflow: hidden;
}

.life .life-banxin .ul1 .li1 .d1 .text .p1 {
  display: block;
  color: #a5a5a5;
  height: 36px;
  line-height: 18px;
  width: 270px;
  margin-top: 14px;
  font-size: 12px;
  overflow: hidden;
}

.life .life-banxin .ul1 .li1 .d1 .text .p2 {
  margin-top: 8px;
  font-weight: inherit;
}

.life .life-banxin .ul1 .li1 .d1 .text .p2 span {
  background: url("../images/sprite-icon.png");
  margin-right: 10px;
  display: inline-block;
  padding-left: 15px;
  height: 16px;
  line-height: 16px;
  cursor: pointer;
}

.life .life-banxin .ul1 .li1 .d1 .text .p2 span i {
  vertical-align: 1px;
  color: #888;
  margin-left: 5px;
  font-weight: inherit;
  color: #888888;
  font-size: 12px;
  margin-left: 5px;
  font-style: normal;
  font-weight: 400;
}

.darenw {
  background-color: #f6f6f6;
  height: 642px;
}

.darenw .daren {
  width: 1200px;
  margin: 0 auto;
  height: 642px;
}

.darenw .daren h2 {
  color: #333;
  font-size: 24px;
  padding: 14.5px 0;
  font-weight: inherit;
}

.darenw .daren .daren-banxin {
  padding: 20px;
  background-color: #fff;
  overflow: hidden;
}

.darenw .daren .daren-banxin .daren-left {
  float: left;
  width: 800px;
  margin-right: 20px;
}

.darenw .daren .daren-banxin .daren-left ul {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
}

.darenw .daren .daren-banxin .daren-left ul li {
  margin-right: 13px;
  border: 1px solid #e6e6e6;
  margin-bottom: 28px;
  position: relative;
}

.darenw .daren .daren-banxin .daren-left ul li img {
  width: 390px;
  height: 255px;
  display: block;
}

.darenw .daren .daren-banxin .daren-left ul li span {
  position: absolute;
  bottom: 0;
  width: 350px;
  height: 30px;
  padding: 0 20px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background: url("../images/black.png");
}

.darenw .daren .daren-banxin .daren-left ul li:nth-child(3) {
  margin-bottom: 0;
}

.darenw .daren .daren-banxin .daren-left ul li:nth-child(4) {
  margin-bottom: 0;
}

.darenw .daren .daren-banxin .daren-right {
  width: 340px;
  float: left;
  display: flex;
  flex-wrap: wrap;
}

.darenw .daren .daren-banxin .daren-right ul {
  margin-right: -19px;
}

.darenw .daren .daren-banxin .daren-right ul li {
  width: 160px;
  margin-right: 19px;
  float: left;
  position: relative;
}

.darenw .daren .daren-banxin .daren-right ul li img {
  width: 160px;
  height: 100px;
}

.darenw .daren .daren-banxin .daren-right ul li span {
  font-size: 13px;
  color: #333;
  margin: 8px 0;
  height: 19px;
  display: block;
  width: 160px;
  cursor: pointer;
}

.recommend {
  background-color: #f6f6f6;
}

.recommend .circle {
  width: 1200px;
  margin: 0 auto;
}

.recommend .circle h2 {
  color: #333;
  font-size: 24px;
  padding: 14.5px 0;
  font-weight: inherit;
}

.recommend .circle ul {
  display: flex;
  justify-content: space-between;
}

.recommend .circle ul li {
  background: #fff;
  width: 290px;
}

.recommend .circle ul li .top {
  position: relative;
}

.recommend .circle ul li .top img {
  width: 290px;
  height: 190px;
  display: block;
}

.recommend .circle ul li .top span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
  background-color: #ff8000;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 80px;
  transform: translateZ(0);
}

.recommend .circle ul li .bottom {
  padding: 0 10px;
}

.recommend .circle ul li .bottom .p1 {
  line-height: 24px;
  padding: 10px 0 12px;
  border-bottom: 1px dashed #e6e6e6;
  overflow: hidden;
  margin-bottom: 10px;
}

.recommend .circle ul li .bottom .p1 a {
  margin-right: 16px;
  color: #333;
  display: inline-block;
}

.recommend .circle ul li .bottom .p1 a span {
  width: 115px;
  display: inline-block;
  font-size: 14px;
  color: #333;
  font-weight: 700;
  cursor: pointer;
}

.recommend .circle ul li .bottom .p1 span {
  font-size: 12px;
  color: #888;
}

.recommend .circle ul li .bottom .p1 span i {
  color: #f65557;
  font-style: normal;
  margin-left: 4px;
}

.recommend .circle ul li .bottom .p2 {
  font-size: 13px;
  line-height: 28px;
  display: inline-block;
  width: 250px;
  margin: 0 10px;
  color: #5e5e5e;
}

.recommend .circle ul li .bottom .a1 {
  width: 98px;
  overflow: hidden;
  height: 24px;
  border: 1px solid #ff5757;
  border-radius: 3px;
  line-height: 24px;
  text-align: center;
  color: #ff5757;
  display: block;
  margin: 10px 0 18px 85px;
  cursor: pointer;
}

.recommend .circle ul li .bottom .a1 em {
  float: left;
  background: url("../images/jia.png") no-repeat;
  background-size: 100px 200px;
  background-position: 0 0;
  width: 10px;
  height: 10px;
  margin: 7px 8px 0 12px;
}

.recommend .circle ul li .bottom .a1 span {
  float: left;
  height: 100%;
  line-height: 24px;
  font-size: 14px;
}

.goshoping {
  background-color: #f6f6f6;
}

.goshoping .go-banxin {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
}

.goshoping .go-banxin h2 {
  background-color: #f6f6f6;
  color: #333;
  font-size: 24px;
  padding: 14.5px 0;
  font-weight: inherit;
}

.goshoping .go-banxin .list {
  background: url("https://css.meixincdn.com/m/pc/dist/images/circle/index/bg_blue.png?v=6e4e0d") no-repeat 20px 20px;
  float: left;
  width: 180px;
  height: 439px;
  padding: 20px 0 20px 20px;
  margin-right: 20px;
}

.goshoping .go-banxin .list span {
  width: 138px;
  height: 28px;
  border: 1px solid #c7cff6;
  color: #9da9e5;
  display: block;
  text-align: center;
  line-height: 28px;
  margin: 10px 0 0 15px;
  background-color: #fff;
}

.goshoping .go-banxin .list span:nth-child(1) {
  margin-top: 60px;
}

.goshoping .go-banxin .list span:hover {
  background-color: #91a2f3;
  color: #fff;
  cursor: pointer;
}

.goshoping .go-banxin .list .span-active {
  color: #fff;
  background-color: #9da9e5;
}

.goshoping .go-banxin .cont {
  overflow: hidden;
  padding-top: 20px;
  width: 960px;
  float: left;
}

.goshoping .go-banxin .cont .swiper-container {
  height: 440px;
  margin-right: 18px;
  width: 600px;
  float: left;
  border: 1px solid #ccc;
}

.goshoping .go-banxin .cont .swiper-container .swiper-wrapper .swiper-slide img {
  width: 600px;
}

.goshoping .go-banxin .cont .swiper-container .swiper-wrapper .swiper-slide span {
  float: right;
  margin-right: 50px;
  padding: 6px 0;
  color: #e3101e;
  font-size: 20px;
}

.goshoping .go-banxin .cont .swiper-container .swiper-pagination {
  z-index: 20;
  bottom: 80px;
}

.goshoping .go-banxin .cont .swiper-container .swiper-pagination span {
  background-color: #999;
  width: 20px;
  height: 3px;
  border-radius: 0;
  opacity: 1;
}

.goshoping .go-banxin .cont .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: red;
}

.goshoping .go-banxin .cont .cont-right {
  float: left;
}

.goshoping .go-banxin .cont .cont-right ul {
  width: 340px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.goshoping .go-banxin .cont .cont-right ul li {
  margin-bottom: 18px;
}

.goshoping .go-banxin .cont .cont-right ul li img {
  display: block;
  width: 162px;
  border: 1px solid #e6e6e6;
}

.goshoping .go-banxin .cont .cont-right ul li span {
  display: block;
  color: red;
  font-size: 14px;
  margin-top: 15px;
}
