*{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    border:none;
}
i{
    font-style: normal;
}
.gome-topad{
    background-color: rgb(244, 0, 0);
    width:100%;
    /* position: relative; */
}
.close-gome-topad .wbox{
    width: 1200px;
    margin:0 auto;
    position: relative;
}
.close-gome-topad{
    position: absolute;
    display: block;
    padding:6px;
    top:4px;
    right:-12px;
    cursor: pointer;
}
.close-gome-topad i{
    display: block;
    width: 15px;
    height: 15px;
    background: url(../images/ui.png) -60px -446px;
    text-indent: -99px;
    overflow: hidden;
}
.close-gome-topad:hover{
    background-color: rgba(90,90, 54, 0.5);
}

.gome-top a{
    color: #888;
}
.gome-top{
    width: 100%;
    position: relative;
    border-bottom:1px solid #f3f3f3;
    background: #f8f8f8;
    height: 30px;
    color:#5e5e5e;
    z-index:999;
}
.wbox{
    width: 1200px;
    margin:0 auto;
}
#gome-user{
    margin-right:12px;
}
.gome-top li{
    float: left;
    position: relative;
    font:400 12px/30px Arial,"Microsoft YaHei";
}
#gome-user b{
    color:#5e5e5e
}
.gome-top b{
    font-weight: 400;
    display: block;
    padding:0 20px 0 10px;
    border:1px solid #f8f8f8;
    border-bottom:0;
    height: 30px;
    overflow: hidden;
    position: relative;
    z-index: 9;
}

.gome-top #gome-mygome{
    position: relative;
}
.gome-top #gome-mygome .public{
    width: 260px;
    padding: 0;
    position: absolute;
    top: 30px;
    background-color: #fff;
    height: 0px;
    overflow: hidden;
    /* transition: all .2s; */
}
.gome-top #gome-mygome .public strong{
    display: block;
    font-weight: 700;
    padding: 10px 10px 0;
    font: 12px/24px Arial,"Microsoft YaHei";
    color: #888;
}
.gome-top #gome-mygome .public strong a{
    color: #069;
}
.gome-top #gome-mygome .public #mygome-order{
    padding: 0 0 9px;
    margin: 0 10px;
    border-bottom: 1px solid #f3f3f3;
    overflow: hidden;
}
.gome-top #gome-mygome .public #mygome-order li{
    float: left;
    width: 50%;
    line-height: 25px;
    height: 25px;
}
.gome-top #gome-mygome .public #mygome-order li a{
    color: #888;
}
.gome-top #gome-mygome .public #mygome-coupon{
    padding-left: 10px;
    overflow: hidden;
}
.gome-top #gome-mygome .public #mygome-coupon li{
    float: left;
    width: 200px;
    padding: 10px 0;
    line-height: 14px;
}
.gome-top #gome-mygome .public #mygome-coupon li a{
    color: #888;
}
.gome-top #gome-mygome .public #mygome-coupon li ins{
    display: inline-block;
    vertical-align: middle;
    color: #cdcdcd;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 4px;
}
.gome-top #gome-mygome .public p{
    clear: both;
    background: #f8f8f8;
    padding: 10px;
    overflow: hidden;
    font: 12px/24px Arial,"Microsoft YaHei";
    color: #888;
}
.gome-top #gome-mygome .public #mygome-track{
    background: #f8f8f8;
    padding: 0 0 18px 10px;
    height: 50px;
    overflow: hidden;
}
.gome-top #gome-mygome .public #mygome-track li{
    float: left;
    width: 50px;
    height: 50px;
    margin: 0 12px 10px 0;
    background: url(../images/ui.png) 0 -397px;
}
.gome-top #gome-mygome:hover b{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-bottom-color:#fff ;
}
.gome-top #gome-mygome:hover .public{
    height: 240px;
    border: 1px solid #e6e6e6;
}
#gome-enterprise .public-dropdown{
    width: 200px;
    position: absolute;
    padding: 0;
    left: auto;
    right: 0;
    top: 30px;
    background: #fff;
    height: 0px;
    overflow: hidden;
    /* transition: all .2s; */
}
#gome-enterprise .public-dropdown a{
    display: inline-block;
    height: 200px;
    width: 200px;
    background: url(../images/ui.png) 0 -1511px;
}
#gome-enterprise:hover b{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-bottom-color:#fff ;
}
#gome-enterprise:hover .public-dropdown{
    height: 200px;
    border: 1px solid #e6e6e6;
    padding: 15px;
}
#gome-service .public-dropdown{
    width: 210px;
    padding-top: 0;
    position: absolute;
    top: 30px;
    background: #fff;
    height: 0;
    left: 0;
    overflow: hidden;
    /* transition: all .2s; */
}
#gome-service .public-dropdown p{
    font: 700 12px/24px Arial,"Microsoft YaHei";
    color: #898989;
}
#gome-service .public-dropdown ul{
    padding: 0 0 10px;
    height: 48px;
    overflow: hidden;
}
#gome-service .public-dropdown ul li{
    float: left;
    font: 12px/24px Arial,"Microsoft YaHei";
    width: 33%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#gome-service .public-dropdown .service{
    color: #fff;
    background: #dd00a7;
    text-align: center;
    display: block;
    line-height: 25px;
    height: 25px;
    cursor: pointer;
    font-weight: 400;
    margin-top: 4px;
}
#gome-service .public-dropdown .service em{
    font-size: 19px;
    line-height: 25px;
    height: 25px;
    color: #fff;
    background: 0 0;
}
#gome-service:hover b{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-bottom-color:#fff ;
}
#gome-service:hover .public-dropdown{
    height: 193px;
    border: 1px solid #e6e6e6;
    padding:10px 15px;
}
#gome-sitemap .public-dropdown{
    width: 1198px;
    position: absolute;
    top: 30px;
    background: #fff;
    height: 0px;
    right: -100px;
    overflow: hidden;
}
#gome-sitemap .public-dropdown dl{
    float: left;
    padding: 0 15px 0 40px;
    border-left: 1px solid #f3f3f3;
    margin: 15px 0;
}
#gome-sitemap .public-dropdown dl.none{
    border: none;
}
#gome-sitemap .public-dropdown dl dt{
    font: 700 14px/14px Arial,"Microsoft YaHei";
    margin: 0 0 14px;
}
#gome-sitemap .public-dropdown dl dd{
    overflow: hidden;
    min-height: 120px;
}
#gome-sitemap .public-dropdown dl dd ul{
    float: left;
    width: 75px;
}
#gome-sitemap .public-dropdown dl dd ul li{
    width: 100%;
    text-align: left;
    font: 12px/24px Arial,"Microsoft YaHei";
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#gome-sitemap:hover b{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-bottom-color: #fff;
}
#gome-sitemap:hover .public-dropdown{
    border: 1px solid #e6e6e6;
    height: 178px;
    padding: 10px 0;
}
#gome-phone .public-dropdown{
    position: absolute;
    top: 30px;
    padding: 0;
    left: auto;
    right: 0;
    width: auto;
    background: #fff;
    height: 0;
    overflow: hidden;
}
#gome-phone .public-dropdown a{
    display: inline-block;
    height: 170px;
    width: 130px;
    background: url(../images/ui.png) 0 -799px;
}
#gome-phone:hover b{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-bottom-color: #fff;
}
#gome-phone:hover .public-dropdown{
    height: 170px;
    padding: 15px;
    border: 1px solid #e6e6e6;
}
#loginDiv-name a{
    display: inline;
    color:#5e5e5e
}
#loginDiv-name i{
    position: absolute;
    top:12px;
    right:8px;
    background-position: -62px -433px;
    width: 7px;
    height: 4px;
    overflow: hidden;
}
.gome-top i, .gome-top em{
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/ui.png);
    background-position: 0 -41px;
    color:#dd00a7;
}
#gome-user:hover{
    background-color: #fff;
}
#gome-user:hover #loginDiv-name i{
    background-position: -55px -433px;
}
#gome-user .public-dropdown{
    width: 290px;
    position: absolute;
    top:30px;
    background-color: #fff;
    left:0;
    overflow: hidden;
    display: none;
}
#user-name{
    padding:5px 0 20px;
    overflow: hidden;
}
#user-name i, #user-name i img{
    float: left;
    width: 55px;
    height: 55px;
    border-radius: 55px;
}
#user-name i{
    background-position: 0 -337px;
}
#user-name div{
    float:left;
    font:400 12px/20px Arial,"Microsoft YaHei";
    padding:0 0 0 15px;
    width: 220px;
}
#user-name .user-name-login{
    padding-top:20px;
}
#user-name p{
    color:#888;
    width: 100%;
    line-height: 16px;
    overflow: hidden;
}
#user-name .user-name-login a{
    color:#069;
}
#user-icon{
    border-top:1px solid #f3f3f3;
    padding-top:15px;
    position: relative;
    height: 100px;
}
#user-icon p{
    line-height: 18px;
}
#user-icon p a{
    color:#ccc;
    float: right;
}
#user-icon .user-icon-prev{
    left:0;
}
#user-icon .user-icon-prev, #user-icon .user-icon-next{
    position: absolute;
    top:54px;
    width: 16px;
    height: 29px;
    cursor: pointer;
    background: url(../images/ui.png) -60px -357px;
    display: inline-block;
}
#user-icon .user-icon-next{
    right:0;
    background-position: -76px -357px;
}
.public-dropdown{
    /* border:1px solid #f3f3f3; */
}
#user-icon div{
    margin:10px 25px 0;
    /* visibility: hidden; */
    overflow: hidden;
    position: relative;
    z-index: 2;
    left:0;
    width: 240px;
}
#user-icon div ul{
    margin:0;
    padding:0;
    position: relative;
    list-style-type: none;
    z-index: 1;
    width: 720px;
    left:0;
    height: 70px;
    overflow: hidden;
}
#user-icon div ul li{
    /* overflow: hidden; */
    float:left;
    width: 80px;
    height: 70px;
    text-align: center;
}
#user-icon li a{
    color:#ccc;
}
#user-icon i{
    display: block;
    height: 40px;
    background: 0 0;
    font-size: 40px;
    line-height: 40px;
    color: #ccc;
}
#gome-top-right{
    float: right;
}
.gome-link{
    height: 30px;
    overflow: hidden;
    margin:0;
}
.gome-link a{
    margin-right:10px;
    line-height: 32px;
}
.gome-top a{
    color:#888;
}
.gome-top b i{
    position: absolute;
    top:12px;
    right:8px;
    background-position: -62px -433px;
    width: 7px;
    height: 4px;
    overflow: hidden;
}
#gome-service b em{
    font-size: 17px;
    color:#dd00a7;
    background: 0 0;
    line-height: 30px;
    height: 30px;
    top:0;
}
#gome-mygome{
    border-left:1px solid transparent;
    border-right:1px solid transparent;
}


#gome-head{
    position: relative;
    height: 120px;
    vertical-align: middle;
    z-index: 980;
}
#logo a{
    display: block;
    width: 125px;
    height: 56px;
    background: url(../images/logo.png) 0 0 no-repeat;
    overflow: hidden;
}
#logo{
    float: left;
    margin:32px 10px 0 0;
}
#logo-gif{
    float: left;
    margin:35px 0 0 10px;
}
#logo-gif img{
    width: 100px;
    height: 50px;
}
.topSearch{
    position: relative;
    width: 500px;
    top:32px;
    z-index: 91;
    left:385px;
}
.searchbox{
    border:1px solid #dd00a7;
    position: relative;
    font-size: 14px;
    height: 30px;
    background-color: #fff;
}
#search-type-dropdown{
    position: absolute;
    top:0;
    left:0;
    color:#A5A5A5;
    float: left;
    width: 62px;
    height: 30px;
    line-height: 30px;
}
#search-type-dropdown .search-type{
    position: relative;
    width: 42px;
    padding:0 10px;
    height: 30px;
    border-right:1px solid #dd00a7;
}
#search-type-dropdown .search-type i{
    position: absolute;
    width: 11px;
    height: 7px;
    right:9px;
    top:11px;
    background: url(../images/ui.png) -145px -1469px;
}
#search-type-dropdown .search-type-list{
    position: absolute;
    left:-1px;
    right:-1px;
    top:30px;
    border:1px solid #dd00a7;
    background-color: #fff;
    display: none;
    z-index: 10;
}
#search-type-dropdown .search-type-item{
    width: 42px;
    padding:0 10px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}

.searchbox label{
    font-family: 'microsoft yahei';
    position: absolute;
    top:0;
    left:72px;
    right:110px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    color:#bbb;
    cursor: pointer;
}
.searchbox input{
    border:none;
    width: 336px;
    line-height: 28px;
    float:left;
    font-size: 14px;
    font-family: arial;
    color:#5E5E5E;
    background-color: transparent;
    position: absolute;
    top:0; 
    left: 68px;
}
input{
    outline: 0;
}
.searchbox button{
    width: 90px;
    height: 30px;
    border:none;
    cursor: pointer;
    float: right;
    background-color: #dd00a7;
    font:16px/30px 'microsoft yahei';
    color:#fff;
    letter-spacing: 2px;
    text-indent: 0;
}
.voice-search{
    margin-right: 3px;
    opacity: .55;
    float: right;
    padding:5px 0;
    cursor: pointer;
    width: 15px;
    height: 20px;
    background: url(../images/下载.png) no-repeat no-repeat center;
    background-size: 13px 19px;
}
.hotkeyword{
    margin:6px 0 0;
    overflow: hidden;
    line-height: 14px;
    height: 14px;
    font-size: 12px;
    width:100%;
    position: absolute;
    top:34px;
}
.hotkeyword a{
    display: inline-block;
    margin-right:5px;
    line-height: 14px;
    font-family: 'microsoft yahei';
    color: #A5A5A5;
}
.mygome-side{
    position: absolute;
    right:0;
    top:32px;
    z-index: 92;
    width: 240px;
}
.topmenu{
    float:right;
    z-index:96;
    position: relative;
    font-size: 12px;
}
.topmenu li{
    float: left;
    vertical-align: middle;
    position: relative;
}
.shopcartbox .cartlinkbox{
    display: inline-block;
    padding:5px 20px 0 45px;
    line-height: 34px;
    height: 34px;
    width: 75px;
}
.cartlinkbox .menulink{
    border:none;
    margin:1px;
}
.topmenu a{
    color:#5E5E5E;
}
.i-cart{
    position: absolute;
    width: 30px;
    height: 20px;
    background: url(../images/ui.png) -100px -701px;
    top:11px;
    left:10px;
}
.shopnum{
    position: absolute;
    height: 18px;
    line-height: 18px;
    padding:0 3px;
    top:-18px;
    text-align: center;
    left:15px;
    background-color: #A5A5A5;
    color:#fff;
    font-weight: 700;
    width: 14px;
}
em{
    font-style: normal;
}
.shopnum i{
    position: absolute;
    width: 0;
    height: 0;
    border:4px dashed transparent;
    border-color:transparent transparent transparent #A5A5A5;
    border-right:0;
    border-left-style: solid;
    overflow: hidden;
    bottom:-4px;
    left:5px;
}

.category-box{
    height: 40px;
    border-bottom: 1px solid #dd00a7;
    background: #f8f8f8;
}
.category-box .category{
    height: 40px;
}
.category-box .category .sidecategory{
    float: left;
    position: relative;
    z-index: 995;
}
.category-box .category .sidecategory .title{
    height: 40px;
    position: relative;
    z-index: 10;
    background: #f1f1f1;
    float: left;
    opacity: .9;
    width: 200px;
}
.category-box .category .sidecategory .title a{
    color: #585858;
    font-family: 'Microsoft YaHei';
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
    padding-left: 15px;
    float: left;
}
.category-box .category .sidecategory .navbox{
    width: 200px;
    height: 450px;
    position: absolute;
    top: 41px;
    z-index: 200;
    left: 0;
}
.category-box .category .sidecategory .navbox .lisbg{
    opacity: .7;
    width: 200px;
    height: 450px;
    color: #333;
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.category-box .category .sidecategory .navbox .lisnav-ul{
    position: relative;
    z-index: 9999;
}
.category-box .category .sidecategory .navbox .lisnav-ul h3{
    position: relative;
    padding-left: 15px;
    height: 30px;
    line-height: 30px;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 1px;
}
.category-box .category .sidecategory .navbox .lisnav-ul h3 a{
    color: #fff;
    font-size: 14px;
    font-family: 'Microsoft YaHei',arial;
    font-weight: 200;
    display: inline-block;
    margin-right: 3px;
}
.mainnav{
    float: left;
    height: 38px;
    width: 800px;
    overflow: hidden;
    position: relative;
}
.mainnav li{
    position: relative;
    float: left;
    padding: 0 13px;
    text-align: center;
    line-height: 38px;
    white-space: nowrap;
}
.mainnav li a{
    color: #000;
    font-size: 15px;
    line-height: 40px;
    font-family: 'Microsoft YaHei';
}
.mainnav li a span{
    color: #000;
    font-size: 15px;
    line-height: 40px;
    font-family: 'Microsoft YaHei';
}
.hdrsideRoll{
    float: right;
    position: relative;
    width: 194px;
    height: 38px;
    overflow: hidden;
}
.hdrsideRoll .adnavside{
    position: absolute;
    top: 0;
    left: 5px;
    width: 170px;
    height: 38px;
    overflow: hidden;
}
 #servicio{
    width: 3000px;
    height: 152px;
    position: relative;
    top: 0;
}
#servicio li{
    display: block;
    width: 170px;
    height: 38px;
}
#gm_main{
    position: relative;
    min-width: 1200px;
}
#gm_main .focus{
    height: 450px;
    width: 100%;
    background-color: rgb(243, 166, 136);
    position: relative;
}
#gome-help{
    margin-top:30px;
    width: 1200px;
    margin:15px auto 0;
    overflow: hidden;
}
#gome-help ul{
    background-color: #f5f5f5;
    padding:15px 0;
    overflow: hidden;
}
#gome-help li{
    float: left;
    width: 33%;
    text-align: center;
}
#gome-help i{
    display: inline-block;
    width: 40px;
    height: 42px;
    background: url(../images/ui.png);
    vertical-align: middle;
    margin-right:10px;
}
#gome-help i.icon-pz{
    background-position: 0 -1469px;
}
#gome-help a{
    line-height: 40px;
    font:700 18px/37px Arial,"Microsoft YaHei";
    color:#404040;
}
.foot-titlt-dot{
    margin:0 16px;
    color:#ccc;
    width: 3px;
    height: 10px;
    background: url(../images/ui.png);
    vertical-align: middle;
    background-position: -120px -1489px;
}
#gome-help a.sec-title{
    font-weight: 400;
}
#gome-help i.icon-dj{
    background-position: -40px -1469px;
}
#gome-help i.icon-sd{
    background-position: -80px -1469px;
}
.gome-help-box{
    width:110%;
    margin-left:-5%;
    overflow: hidden;
}
#gome-help dl{
    float:left;
    width:9%;
    padding:15px 0 0 125px;
    white-space: nowrap;
}
#gome-help dt{
    font:16px/25px Arial,"Microsoft YaHei";
    color:#5e5e5e;
}
#gome-help dl ul{
    background: 0 0;
    padding:0;
}
#gome-help dl li{
    float:none;
    width:100%;
    text-align: left;
}
#gome-help dl a{
    font:12px/22px Arial,"Microsoft YaHei";
    color:#a5a5a5;
    padding:0;
}
#gome-foot{
    border-top:1px solid #dd00a7;
    background-color: #f7f7f7;
    margin-top:15px;
    zoom: 1;
}
#gome-foot-box{
    position: relative;
    width:1200px;
    margin:0 auto;
    padding:20px 0 0;
    background-color: #f7f7f7;
}
#gome-foot span{
    display: inline-block;
    padding:0 50px 40px 0;
}
#gome-foot span i{
    display: block;
    width: 45px;
    height: 45px;
    background: url(../images/ui.png) 0 -135px;
    float: left;
}
#gome-foot span p{
    margin-left:10px;
    font:12px/20px Arial,"Microsoft YaHei";
    float: left;
    width:210px;
    overflow: hidden;
    height: 45px;
}
#gome-foot p{
    color:#999;
    font:12px/22px Arial;
}
#gome-foot span strong{
    color:#333;
    display: block;
    font:400 16px/25px Arial,"Microsoft YaHei";
}
#gome-foot span a{
    color:#999;
}
#gome-foot span.ued i{
    background-position: -45px -135px;
}
#gome-foot .qrcode-section{
    position: absolute;
    right:-10px;
    top:15px;
    font-size: 0;
}


#gome-foot em.code-sm{
    width: 50px;
    margin:0 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
}
#gome-foot em i{
    background: url(../images/ui.png);
    display: inline-block;
}
#gome-foot em.code-sm i, #gome-foot em.code-sm i img{
    width: 40px;
    height: 25px;
}
#gome-foot em.wx i{
    background-position: -105px -135px;
}
#gome-foot em div{
    position: absolute;
    left:-50px;
    bottom:54px;
    z-index: 10000;
    padding:10px;
    border:1px solid #eee;
    background-color: #fff;
    display: none;
} 
#gome-foot .wx:hover div{
    display: block;
}
#gome-foot .wap:hover div{
    display: block;
}

#gome-foot em div i.icon-triangle{
    position: absolute;
    height: 8px;
    width: 13px;
    left:68px;
    background: url(../images/ui.png) -67px -127px !important;
    top:100%;
}
#gome-foot em div img{
    display: block;
    width: 171px;
}
img{
    border:none;
    vertical-align: middle;
}
#gome-foot em.wap i{
    background-position: -185px -135px;
}
#gome-foot em.code-bg{
    width: 110px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
}
#gome-foot em.code-bg p{
    text-align: center;
    margin-left:4px;
}
#gome-foot em.code-bg i, #gome-foot em.code-bg img{
    width: 90px;
    height: 90px;
}
#gome-foot ul{
    float: left;
}
#gome-foot li{
    float:left;
    font:12px/22px Arial,"Microsoft YaHei";
    padding:0 13px 0 0;
    color:#ccc;
    white-space: nowrap;
}
#gome-foot a{
    color:#666;
}
#gome-foot .interDrug{
    color:#999;
}
#gome-foot .tw-w-ico-wrap{
    position: relative;
    padding-left:23px;
}
#gome-foot .tw-w-ico-wrap .tw-w-mark-icon{
    position: absolute;
    left:0;
    top:-3px;
    width: 18px;
    height: 20px;
    background: url(../images/ui.png) 0 -1712px;
}
.gome-foot-credit{
    border-top:1px solid #e6e6e6;
    margin-top:5px;
    padding:10px 0 25px;
    overflow: hidden;
}
#gome-foot .bottom{
    display: flex;
    flex-direction: column;
}
.gome-foot-credit i{
    display: block;
    width: 35px;
    height: 35px;
    background: url(../images/ui.png) 0 -180px;
    float: left;
}


.home b{
    font-weight: 400;
}
.gome-foot-credit b{
    font:12px/18px Arial,"Microsoft YaHei";
    display: block;
    float: left;
    color:#999;
    padding:0 20px 0 5px;
    width: 60px;
}
.gome-foot-credit .credit-xypj i{
    background-position: -35px -180px;
}
.gome-foot-credit .credit-cxwz i{
    background-position: -70px -180px;
}
.gome-foot-credit .credit-hdjc i{
    background-position: -105px -180px;
}
.gome-foot-credit .credit-wgdj i{
    background-position: -140px -180px;
}
.gome-foot-credit .credit-report i{
    background-position: -175px -180px;
}
.gome-foot-credit .credit-hazar i{
    background-position: -238px -180px;
}
.gome-foot-credit .credit-cxwz b,.credit-wgdj b{
    padding-top:9px;
}
.credit-report b{
    width: 119px;
}
#search-type-dropdown .search-type:hover .search-type-list{
    display: block;
}
.gome-link{
    height: 30px;
    overflow: hidden;
    margin:0;
}
.gome-link a{
    margin-right: 10px;
    line-height: 32px;
}
.gome-link a.gome-link-register{
    color:#f5004b;
}
.gome-link a.gome-link-register i{
    display: inline-block;
    width: 12px;
    height: 13px;
    background-position: -145px -1496px;
    margin-left:5px;
    margin-top:-4px;
    background-repeat: no-repeat;
}



.focus_box img{
    width: 1903px;
    height: 450px;
}
#gm_main .focus_box li a{
    position: absolute;
    left:50%;
    margin-left:-400px;
    display: none;
}
#gm_main .focus_box li a img{
    display: block;
    width: 750px;
    height: 450px;
}
#gm_main .focus_box li .imgactive{
    display: block;
}
.gm_main .nav{
    position: absolute;
    bottom:10px;
    left:50%;
    margin-left:-400px;
    width: 750px;
    height: 15px;
    text-align: center;
    cursor: pointer;
    display: block;
}
ol,li{
    list-style: none;
}
.gm_main .nav li{
    width: 30px;
    height: 13px;
    display: inline-block;
    margin:0 4px;
    cursor: pointer;
}
.gm_main .nav li a{
    display: block;
    width: 30px;
    height: 5px;
    background-color: #000;
    opacity: .3;
    margin-top:4px;
}
.gm_main .nav li a.color1{
  background-color: #f5004b;
  opacity: 1;
}

.gm_main .btn, .gm_main .btnbg{
    width: 40px;
    height: 80px;
    position: absolute;
}
.gm_main .btn{
    z-index: 59;
    left:50%;
    top:185px;
}
.gm_main .pre{
    margin-left:268px;
}
.gm_main .btnbg{
    display: block;
    background: #000;
    opacity: .2;
    top:0;
    left:0;
}
.gm_main .go_l, .gm_main .go_r{
    width: 40px;
    height: 80px;
    position: absolute;
    top:0;
    left:0;
    z-index: 50;
    cursor: pointer;
}
.gm_main .go_l{
    
}
.gm_main .nex{
    margin-left:309px;
}
.sidecategory .subnav{
    background-color: #fff;
    min-height: 448px;
    max-height: 515px;
    border-left:none;
    position: absolute;
    top:0;
    left:199px;
    z-index: 99;
    width: 1000px;
    /* display: none; */
}
.loading1-sync{
    z-index: 10000;
    border:1px solid #818181;
    min-width: 448px;
    max-height: 525px;
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 999px;
    top:0;
}
.fullcategory{
    min-width: 448px;
    max-height: 525px;
    background-color: #fff;
    width: 999px;
}
.fullcategory-left{
    overflow: hidden;
    background-color: #fbfbfb;
    min-height: 448px;
    max-height: 525px;
    opacity: 1;
    float: left;
    width: 789px;
}
.fullcategory-title{
    height: 20px;
    padding:20px 0 7px 20px;
    overflow: hidden;
}
.fullcategory-title a{
    float: left;
    white-space: nowrap;
    height: 20px;
    background-color: #f5004b;
    margin-right: 10px;
    padding:0 5px;
    text-align: left;
    font-size: 12px;
    color:#fff;
    line-height: 20px;
    font-weight: 700;
    font-family: Arial,"Microsoft YaHei";
}
.fullcategory-title i{
    display: inline-block;
    font-size: 12px;
    margin-left: 6px;
    overflow: hidden;
}
.fullcategory-title a span{
    margin-top:2px;
}
.category-box .category .sidecategory .navbox .lisnav-ul h3.add1{
     background-color: #fbfbfb;
    color:#000;
}


.countdown{
    height: 272px;
}
body, button, input, select, textarea{
    font:12px/1.5 arial,"\65b0\5b8b\4f53";
}
.countdown .countdown_main{
    margin-top:20px;
    height: 252px;
    background-color: #fff;
    overflow: hidden;
}
.countdown .count_l{
    width: 950px;
    float: left;
    position: relative;
}
.countdown .countdown_l_t{
    height: 40px;
    position: relative;
}
.countdown .time_box{
    float: right;
    width: 238px;
    height: 40px;
    border-right: 1px solid #e6e6e6;
}
.countdown .time_box .defintext{
    display: block;
    float: left;
    line-height: 40px;
    color:#f5004b;
    padding-right: 7px;
}
.countdown .time_box .timego{
    display: block;
    float: left;
    height: 27px;
    width: 130px;
    padding-top:5px;
    font-weight: 700;
    color:#f5004b;
    font-size: 20px;
}
.countdown .time_box .num{
    display: inline-block;
    margin:0 2px;
    width: 27px;
    height: 27px;
    border-radius: 5px;
    line-height: 27px;
    background-color: #f5004b;
    font:20px/27px Arial;
    color:#fff;
    text-align: center;
    font-weight: 400;
}
.countdown .click_box{
    float: left;
    width: 201px;
    overflow: hidden;
    border-left:1px solid #e6e6e6;
}
.countdown .click_box img{
    display: block;
    width: 40px;
    height: 40px;
    margin-left:5px;
    float: left;
}
.countdown .click_box h3{
    font-size: 18px;
    line-height: 40px;
    font-weight: 500;
    color:#f5004b;
}
.countdown .countdown_l_t .line{
    width: 950px;
    height: 1px;
    overflow: hidden;
    background: #dd00a7;
    background-image: linear-gradient(to right,#ff0027,#f500e7);
    position: absolute;
    top:0;
    left:0;
}
.countdown .countdown_l_b{
    height: 210px;
    width: 948px;
    border:1px solid #e6e6e6;
    overflow: hidden;
    position: relative;
}
.countdown .lay{
    position: absolute;
    top:0;
    left:0;
    width: 948px;
    height: 209px;
}
.countdown_l_b .list_li{
    width: 237px;
    float: left;
    height: 209px;
}
.countdown_l_b .list_li a{
    display: block;
    height: 179px;
    width: 237px;
    border-right: 1px dashed #eee;
    margin-top:15px;
    position: relative;
}
.countdown_l_b .list_li a img{
    display: block;
    height: 120px;
    width: 120px;
    margin-left: 58px;
}
.countdown_l_b .list_li .p_price{
    margin:6px 0 0 20px;
    color:#ff0027;
    font-size: 20px;
}
.countdown_l_b .list_li .p_price .del{
    color:#999;
    font-size: 12px;
    margin-left: 1px;
    text-decoration: line-through;
}
.countdown_l_b .list_li .p_name{
    margin:0 0 0 20px;
    color:#5e5e5e;
    font-size: 12px;
    line-height: 18px;
    width: 196px;
    height: 18px;
    overflow: hidden;
}
.two{
    display: none;
}
.countdown .countdown_btn{
    top:5px;
}
.index_pabs{
    position: absolute;
    display: none;
}
.countdown .btnbg, .countdown .j_btn{
    width: 24px;
    height: 48px;
    position: absolute;
}
.countdown .j_btn{
    z-index: 59;
    top:100px;
}
.countdown .prebtn{
    right:-950px;
}
.countdown .btnbg{
    display: block;
    background-color: #000;
    opacity: .2;
    top:0;
    left: 0;
}
.countdown .go_icon{
    width: 24px;
    height: 48px;
    position: absolute;
    top:0;
    left: 0;
    z-index: 50;
    cursor: pointer;
    /* background: url(../images/ui.png) no-repeat; */
}
/* .countdown .btn_l{
    background-position: -33px -178px;
}
.countdown .btn_r{
    background-position: -4px -178px;
} */
.countdown .nexbtn{
    left: 0;
}
.countdown .lay.active{
    display: block;
}
.countdown .count_r{
    width: 240px;
    height: 252px;
    float: right;
    text-align: right;
}




.lazy-fn-wrap .floor{
    position: relative;
}
.floor{
    min-height: 480px;
}
.floor .mt{
    height: 38px;
    padding-top:32px;
}
.floor .mtTop{
    width: 210px;
    height: 38px;
    overflow: hidden;
    float: left;
    line-height: 38px;
    font-size: 20px;
}
.floor .mtTop h2{
    font-weight: 500;
    font-size: 20px;
}
.floor .tab{
    float: right;
    margin-top: 8px;
    max-width: 790px;
    height: 30px;
    overflow: hidden;
    position: relative;
}
.floor .tab li{
    float: left;
}
.floor .tab li.cur{
    background-color: rgb(113, 158, 247);
}
.floor .tab li.cur a{
    color:#fff;
}
.floor .tab a{
    font-size: 14px;
    padding:0 15px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    color:#5e5e5e;
}
.floor .mc{
    height: 470px;
}
.floor .mc_l{
    height: 470px;
    width: 210px;
    float: left;
    position: relative;
    background-color: #719ef7;
}
.floor .mc_l_img{
    display: block;
    background-color: #fff;
}
.floor .mc_l img{
    margin-left:-10px;
    display: block;
    width: 220px;
    height: 278px;
}
.floor .keyAll{
    height: auto;
    width: 210px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.floor .channelbg{
    max-height: 98px;
    width: 220px;
    position: absolute;
    left: -10px;
    bottom: 160px;
    overflow: hidden;
}
.floor .channel_inner{
    width: 180px;
    margin-left:15px;
    margin-right: 15px;
    overflow: hidden;
}
.floor .channelbg li{
    width: 180px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
}
.floor .channelbg a,.floor .channelbg span{
    height: 23px;
    display: inline-block;
    font-size: 14px;
    color:#f0f0f0;
}
.floor .channelbg span{
    padding:0 5px;
}
.floor .keywords{
    height: 160px;
    width: 210px;
    position: absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
}
.floor .keywords .w55{
    height: 137px;
    width: 50px;
    float: left;
    overflow: hidden;
    margin:8px 0 15px 15px;
}
.floor .keywords li{
    height: 28px;
    line-height: 28px;
}
.floor .keywords li a{
    display: inline-block;
    color:#f0f0f0;
    height: 20px;
    font-size: 12px;
}
.floor .keywords .w43, .floor .keywords .w62{
    height: 137px;
    width: 37px;
    float: left;
    margin:8px 0 15px 10px;
}
.floor .main_warp{
    width: 990px;
    height: 470px;
    float: left;
    position: relative;
}

.floor .main{
    width: 990px;
    height: 470px;
    position: absolute;
    left:0;
    top:0;
    background-color: #fff;
    display: none;
}
.floor .main.active3{
    display: block;
}
.floor .mc_c{
    height: 470px;
    width: 389px;
    float: left;
}
.floor .mc_c, .floor .mc_c .slider{
    position: relative;
}
.floor .mc_c .slider li{
    position: absolute;
    left:0;
    top:0;
    height: 470px;
    width: 389px;
    background-color: #fff;
    display: none;
}
.floor .nav li{
    width: 18px;
    height: 10px;
    display: inline-block;
    margin-left: 1px;
    cursor: pointer;
}
.floor .nav li a{
    display: block;
    width: 18px;
    height: 4px;
    opacity: .6;
    margin-top:3px;
    background-color: #fff;
}
.floor .nav{
    position: absolute;
    bottom: 121px;
    left:50%;
    text-align: center;
    margin-left: -40px;
    width: 81px;
    height: 16px;
}
.floor .mc_c .slider li.active1{
    display: block;
}
.floor .nav li a.active2{
    background-color: #f5004b;
}
.floor .mc_r{
    width: 601px;
    height: 470px;
    float: left;
}
.floor .mc_r .mc_r_inner{
    width: 600px;
    height: 470px;
    border-left:1px solid #eee;
}
.floor .mc_r ul li{
    width: 200px;
    height: 235px;
    float: left;
}
.floor .mc_r ul li a{
    display: block;
    width: 199px;
    height: 234px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.floor .main_inner li{
    width: 198px;
    height: 235px;
    float: left;
}
.floor .main_inner li a {
    width: 197px;
    height: 234px;
    display: block;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.floor .main_inner li img {
    display: block;
    width: 130px;
    height: 130px;
    margin: 20px 0 15px 34px;
}
.floor .main_inner li .p_name, .floor .main_inner li .p_price {
    width: 157px;
    height: 36px;
    margin-left: 20px;
    overflow: hidden;
    line-height: 18px;
    font-size: 12px;
    color: #5e5e5e;
}
.floor .main_inner li .p_price {
    height: 20px;
    line-height: 26px;
    color: #ff0027;
    font-size: 14px;
    font-family: "Arial "\9;
    font-family: Arial,"Microsoft Yahei";
}