 * {
     margin: 0;
     padding: 0;
     cursor: pointer;
 }

 .clearfix::after {
     content: "";
     display: block;
     height: 0;
     clear: both;
     overflow: hidden;
 }

 li {
     list-style: none;
 }

 a {
     text-decoration: none;
 }

 .wrap {
     width: 1200px;
     margin: 0 auto;
 }

 html,
 body {
     position: relative;
     height: 100%;
 }

 body {
     background: #FFF;
     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
     font-size: 14px;
     color: #000;
     margin: 0;
     padding: 0;
 }

 .swiper-container {
     width: 1000px;
     height: auto;
 }

 .swiper-slide {
     background-position: center;
     background-size: cover;
 }

 .gome-topad {
     background: rgb(244, 0, 0);
 }

 .gome-topad .gome-topad-box {
     position: relative;
     overflow: hidden;
 }
.gome-topad .close:hover{
    background-color: rgba(0, 0, 0, .5);
   
}
.gome-topad .close:hover i{
    color: rgba(255, 255, 255, .9);
}
 .gome-topad .gome-topad-box a:nth-child(2) {
     position: absolute;
     display: block;
     padding: 6px;
     top: 3px;
     right: 3px;
     cursor: pointer;
 }

 .gome-topad .gome-topad-box a:nth-child(2) i {
     display: block;
     width: 12px;
     height: 12px;
     background: url(../images/public.png) -60px -466px;
     text-indent: -99px;
     overflow: hidden;
 }

 .gome-top {
     position: relative;
     border-bottom: 1px solid #f3f3f3;
     background: #f8f8f8;
     height: 30px;
     color: #5e5e5e;
     /* z-index: 999; */
 }

 .gome-top .gome-top-body {
     position: relative;
     background: #f8f8f8;
     height: 30px;
     border-bottom: 1px solid #f3f3f3;
 }

 .gome-top li {
     float: left;
     position: relative;
     font: 400 12px/30px Arial, "Microsoft YaHei";
 }

 .gome-top em {
     position: absolute;
     /* top: 5px; */
     left: 10px;
     width: 18px;
     height: 18px;
     margin-right: 6px;
 }

 /* .gome-top i, .gome-top em {
    background: url(../images/public.png);
    display: inline-block;
    vertical-align: middle;
} */
 .gome-entry-link {
     margin: 0 10px;
     height: 30px;
     overflow: hidden;
 }

 .gome-entry-link a {
     color: #5e5e5e;
     line-height: 32px;
 }

 .gome-entry-link a i {
     display: inline-block;
     width: 13px;
     height: 12px;
     margin-right: 5px;
     background: url(../images/public.png);
     background-position: -17px -1362px;
     margin-top: -4px;
 }

 .gome-top li .gome-spacer {
     width: 1px;
     height: 11px;
     margin: 10px 0 0;
     padding: 0;
     background: #e6e6e6;
     overflow: hidden;
 }

 .gome-top li .gome-spacer {
     margin-right: 12px;
 }

 .gome-top li .gome-user {
     margin-right: 12px;
 }

 .gome-top b {
     font-weight: 400;
     display: block;
     padding: 0 20px 0 10px;
     border: 1px solid #f8f8f8;
     border-bottom: 0;
     height: 30px;
     overflow: hidden;
     position: relative;
     z-index: 9;
     color: #888;

 }
.public-dropdown {
    position: absolute;
    top: 30px;
    left: auto;
    right: 0;
    width: 200px;
    height: 0;
    
    background-color: #fff;
}
.public-dropdown .img1{
    display: inline-block;
    height: 200px;
    width: 200px;
    background: url(../images/ui.png);
    background-position: 0 -1511px;
    display: none;
}
.gome-enterprise>b:hover+.public-dropdown .img1{
    display: block;
}
.gome-enterprise {
    position: relative;
}
.gome-enterprise b i{
    position: absolute;
    top: 12px;
    right: 8px;
    width: 7px;
    height: 4px;
    background: url(../images/ui.png);
    background-position: -62px -433px;
    overflow: hidden;
    
}


 .gome-top .loginDiv-link {
     height: 30px;
     overflow: hidden;
     margin: 0;
 }

 .gome-top .loginDiv-link a {
     margin-right: 10px;
     line-height: 32px;

 }

 .gome-top a {
     color: #888;
 }

 .gome-top .loginDiv-link a:nth-child(2) {
     color: #f5004b;
 }

 .gome-top .loginDiv-link a:nth-child(2) i {
     display: inline-block;
     width: 12px;
     height: 13px;
     background: url(../images/public.png);
     background-position: -145px -1496px;
     margin-left: 5px;
     margin-top: -4px;
     background-repeat: no-repeat;

 }

 .gome-top-body-right {
     float: right;
 }

 .gome-top-body-right .gome-link {
     line-height: 33px;
     height: 30px;
     overflow: hidden;
     margin: 0;
 }

 .gome-top-body-right .gome-link a {
     margin-right: 10px;
     line-height: 32px;
 }

 .gome-top b i {
     position: absolute;
     top: 12px;
     right: 8px;
     width: 7px;
     height: 4px;
     overflow: hidden;
 }

 .gome-top .gome-top-body-right li:nth-child(2) i {
     background: url(../images/public.png);
     background-position: -62px -433px;

     display: inline-block;
     vertical-align: middle;
 }

 .gome-top .gome-user i {
     background: url(../images/public.png);
     background-position: -62px -433px;

     display: inline-block;
     vertical-align: middle;
 }

 .gome-top .gome-top-body-right li:nth-child(3) {
     width: 1px;
     height: 11px;
     margin: 10px 0 0;
     padding: 0;
     background: #e6e6e6;
     overflow: hidden;
 }



 .gome-top li.gome-spacer {
     width: 1px;
     height: 11px;
     margin: 10px 0 0;
     padding: 0;
     background: #e6e6e6;
     overflow: hidden;
 }

 .gome-phone i {
     background: url(../images/public.png);
     display: inline-block;
     vertical-align: middle;
 }

 .gome-phone b,
 .gome-service b {
     padding-left: 29px;
 }

 .gome-service b em {
     font-size: 13px;
     color: #dd00a7;
     background: 0 0;
     line-height: 30px;
     height: 30px;
     top: 0;
 }

 .gome-service b i {
     background: url(../images/public.png);
     background-position: -62px -433px;
     display: inline-block;
     vertical-align: middle;
 }

 .gome-phone b em {
     font-size: 17px;
 }

 .gome-sitemap b i {
     background: url(../images/public.png);
     background-position: -62px -433px;
     display: inline-block;
     vertical-align: middle;
 }

 .gome-phone b i {
     background: url(../images/public.png);
     background-position: -62px -433px;
     display: inline-block;
     vertical-align: middle;
 }



 .gome_head {
     position: relative;
     height: 120px;
     vertical-align: middle;
     z-index: 980;
 }
 .search-type-list {
    position: absolute;
    left: -1px;
    right: -1px;
    top: 30px;
    border: 1px solid #2bb8f0;
    background-color: #fff;
    display: none;
    z-index: 10;
 }
 .search-type:hover + .search-type-list{
     display: block;
 }
 .search-type-list li{
    width: 42px;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
 }

 .gome_head .logo {
     float: left;
     margin: 32px 10px 0 0;
 }

 .gome_head .logo a {
     display: block;
     width: 189px;
     height: 56px;
     background: url(../images/logo_zn.jpg) 0 0 no-repeat;
     text-indent: -99px;
     overflow: hidden;
 }


 .gome_head .slogan {
     float: left;
     margin: 35px 0 0 10px;
     width: 162px;
     height: 50px;
     background: url(../images/public.png) 0 -1165px;
     display: none;
 }

 .gome_head .topSearch {
     position: absolute;
     width: 500px;
     top: 32px;
     left: 385px;
     z-index: 91;
 }

 .gome_head .topSearch .topSearchHover {
     position: relative;
     font-size: 14px;
     height: 30px;
     background: #fff;
     border: 1px solid #2bb8f0;
 }

 .gome_head .topSearch .topSearchHover .searchForm .search-type-dropdown {
     position: absolute;
     top: 0;
     left: 0;
     font-family: 'Microsoft YaHei';
     font-size: 14px;
     color: #A5A5A5;
     float: left;
     width: 62px;
     height: 30px;
     line-height: 30px;
 }

 .gome_head .topSearch .topSearchHover .searchForm .search-type {
     position: relative;
     width: 42px;
     padding: 0 10px;
     height: 30px;
     border-right: 1px solid #2bb8f0;
 }

 .gome_head .topSearch .topSearchHover .searchForm .search-type i {
     position: absolute;
     width: 11px;
     height: 7px;
     right: 9px;
     top: 11px;
     background: url(../images/public.png) -145px -1469px;
 }

 .gome_head .topSearch .topSearchHover .searchForm .searchInput {
     border: none;
     width: 310px;
     padding: 5px 5px 5px 72px;
     line-height: 20px;
     float: left;
     font-size: 14px;
     font-family: arial;
     color: #5E5E5E;
     background-color: transparent;
 }

 .gome_head .topSearch .topSearchHover .searchForm button {
     width: 90px;
     height: 30px;
     border: none;
     cursor: pointer;
     float: right;
     display: inline;
     background: #2bb8f0;
     font: 16px/30px 'microsoft yahei';
     color: #fff;
     letter-spacing: 2px;
     text-indent: 0;
 }

 .gome_head .topSearch .topSearchHover .voice-search {
     margin-right: 3px;
     opacity: .55;
     filter: alpha(opacity=55);
     float: right;
     padding: 5px 0;
     cursor: pointer;
     width: 15px;
     height: 20px;
     background: url(../images/microphone.png) no-repeat no-repeat center;
     background-size: 13px 19px;
 }

 .gome_head .topSearch .hotkeyword {
     margin: 6px 0 0;

     color: #A5A5A5;
     overflow: hidden;
     line-height: 14px;
     height: 14px;

     font-size: 12px;
 }

 .gome_head .topSearch .hotkeyword a {
     display: inline-block;
     margin-right: 5px;
     line-height: 14px;
     color: #A5A5A5;
     font-family: 'microsoft yahei';
 }

 .gome_head .topSearch .hotkeyword a:hover {
     color: #f5004b;
     text-decoration: none;
 }

 .gome_head .topSearch .hotkeyword .highlight {
     color: #f5004b;
     text-decoration: none;
 }

 .mygome-side {
     position: absolute;
     right: 0;
     top: 32px;
     z-index: 92;
     width: 240px;
 }

 .mygome-side ul {
     position: relative;
     font-size: 12px;
     float: right;
 }

 .mygome-side ul li {
     float: left;
     display: inline;
     vertical-align: middle;
     position: relative;
 }

 .mygome-side ul li .cartlinkbox {
     display: inline-block;
 }

 .mygome-side ul li .cartlinkbox a {
     padding: 5px 20px 0 45px;
     line-height: 34px;
     height: 34px;
     width: 75px;
     border: none;
     margin: 1px;
     color: #333;

 }

 .mygome-side ul li .cartlinkbox a em {
     position: absolute;
     width: 27px;
     height: 20px;
     background: url(../images/public.png) -100px -701px;
     top: 11px;
     left: 10px;
     background-position: -70px -701px;
 }

 .mygome-side ul li .cartlinkbox a em .shopnum {
     position: absolute;
     height: 18px;
     line-height: 18px;
     padding: 0 3px;
     top: -18px;
     min-width: 14px;
     _width: 14px;
     text-align: center;
     left: 15px;
     background-color: #dd00a7;
     color: #FFF;
     font-weight: 700;
 }

 .mygome-side ul li .cartlinkbox a em .shopnum i {
     position: absolute;
     width: 0;
     height: 0;
     border: 4px dashed transparent;
     border-color: transparent transparent transparent #d7000f;
     border-right: 0;
     border-left-style: solid;
     overflow: hidden;
     bottom: -4px;
     left: 5px;
 }

 .mygome-side ul li .cartlinkbox a b {
     z-index: 96;
     position: absolute;
     width: 0;
     height: 0;
     border: 4px dashed transparent;
     border-color: #5E5E5E transparent transparent;
     border-bottom: 0;
     border-top-style: solid;
     top: 10px;
     right: 19px;
     overflow: hidden
 }

 .mygome-side ul li .cartlinkbox a .hdrcarttext {
     padding: 5px 20px 0 5px;
     line-height: 34px;
     width: 60px;
     height: 16px;
     margin-bottom: 1px;
     transform: translateY(1px);
 }

 /* category */
 .category-box {
     height: 38px;
     border-bottom: 1px solid #2bb8f0;
     background: #f8f8f8;
 }
#navBox{
    width: 200px;
    height: 450px;
    position: absolute;
    top: 39px;
    left: 0;
   
    z-index: 9999;
    display: block;
    background-color: black;
    opacity: .7;
    display: none;
    transition: all 0.3s;
}
 #navBox .lisnav-ul li {
     width: 200px;
     height: 29px;
     line-height: 29px;
     overflow: hidden;
 }

 #navBox .lisnav-ul li h3 {
     position: relative;
     padding-left: 15px;
     height: 30px;
     line-height: 30px;
     width: 170px;
     white-space: nowrap;
     overflow: hidden;
     margin-left: 1px;
 }

 #navBox .lisnav-ul li h3 a {
     color: #fff;
     /* color: black; */
     font-size: 14px;
     font-family: 'Microsoft YaHei', arial;
     font-weight: 200;
     display: inline-block;

     margin-right: 3px;
 }

 .sidecategory {
     position: relative;
     z-index: 995;
 }

 .sidecategory .lisbg {
     opacity: .7;
     filter: Alpha(opacity=70);
     width: 200px;
     height: 450px;
     color: #333;
     background: #333;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 1000;
     display: none;
 }

 .mainnav {
     float: left;
     height: 38px;
     width: 800px;
     overflow: hidden;
     position: relative;
 }

.mainnav li {
     position: relative;
     float: left;
     padding: 0 13px;
     text-align: center;
     line-height: 38px;
     white-space: nowrap;
 }

 .mainnav li a {
     color: #000;
     font-size: 15px;
     line-height: 40px;
     font-family: 'Microsoft YaHei';
 }

 .hdrsideRoll {
     float: right;
     position: relative;
     width: 194px;
     height: 38px;
     overflow: hidden;
 }

 .sidecategory h2 {
     width: 200px;
     height: 38px;
     background: #f1f1f1;
     float: left;
     opacity: .9;
 }
 /* .sidecategory h2:hover + #navBox{
     display: block;
 } */
 .sidecategory h2:hover + #navBox{
    display: block;
}


 .sidecategory h2 span {
     float: right;
     display: block;
     margin: 14px 17px;
     width: 18px;
     height: 12px;
     background: url(../images/public.png) 0 -1344px;
     overflow: hidden;
 }

 .sidecategory h2 a {
     color: #585858;
     font-family: 'Microsoft YaHei';
     font-weight: 700;
     font-size: 15px;
     line-height: 40px;
     padding-left: 15px;
     float: left;
 }

 .hdrsideRoll {
     float: right;
     position: relative;
     width: 194px;
     height: 38px;
     overflow: hidden;
 }

 .hdrsideRoll .adnavside {
     position: absolute;
     top: 0;
     left: 5px;
     width: 170px;
     height: 38px;
     overflow: hidden;
 }

 .hdrsideRoll .adnavside .hd-clickscroll {
     width: 3000px;
 }

 .hdrsideRoll .adnavside .hd-clickscroll li {
     width: 170px;
     height: 38px;
 }

 .hdrsideRoll .hdrsRollbtn {
     position: absolute;
     top: 7px;
     right: 0;
     width: 13px;
     height: 20px;
 }

 .hdrsideRoll .hdrsRollbtn a {
     padding: 2px 1px;
     display: block;
     margin: 1px;
 }

 .hdrsideRoll .hdrsRollbtn .j-hdrbtn-up i {
     display: block;
     width: 9px;
     height: 5px;
     background: url(../images/public.png) -20px -1348px;
 }

 .hdrsideRoll .hdrsRollbtn .j-hdrbtn-down i {
     display: block;
     width: 9px;
     height: 5px;
     background: url(../images/public.png) -20px -1353px;

 }

 /* 首屏开始 */
 .phone_banderbox {
     width: 100%;
     position: relative;
 }

 .categorys .sub-menu .item {
     position: absolute;
     left: 200px;
     top: 0;
     height: 318px;
     width: 292px;
     border-right: 1px solid #5e5e5e;
     border-top: 1px solid #5e5e5e;
     border-bottom: 1px solid #5e5e5e;
     background: #FFF;
     overflow: hidden;
     display: none;
 }

 .phone_focus .categorys .sub-menu .sub_item {
     z-index: 999;
     display: block;
 }


 /* .categorys .menu .curcate:hover .ext a{
        color: black  ;
       
}
.categorys .menu .curcate:hover h2{
    color: #000;
} */


 .hidelist {
     width: 255px;
     padding-top: 5px;
     height: 260px;
     overflow: hidden;
     margin-left: 20px;
     top: -1px;
     left: 200px;
     background: #fff;
     opacity: 1;
     padding-bottom: 33px;
     z-index: 4;
 }

 .hidelist_title {
     font-size: 12px;
     font-family: Arial, simsun;
     padding: 15px 0 0;
     color: #5e5e5e;
     font-weight: 700;
 }

 .hidelist_pro {
     font-size: 12px;
     padding: 4px 0 0;
     color: #888;
 }

 .hidelist_proli {
     text-decoration: none;
     padding: 0 14px;
     font-family: Arial, simsun;
     color: #888;
     border-left: 1px solid #f3f3f3;
 }


 .phone_cur {
     height: 68px;
     line-height: 68px;
     overflow: hidden;
 }

 .phone_focus {
     height: 320px;
 }

 .phone_cur h1 {
     font-size: 20px;
     float: left;
     display: block;
     padding: 0 40px 0 13px;
     color: #333;
 }

 .phone_cur .phone_pro {
     float: left;
     width: 320px;
     overflow: hidden;
 }

 .phone_cur .phone_pro li {
     float: left;
     padding-right: 18px;
 }

 .phone_cur .phone_pro li:hover a {
     color: red;
 }

 .phone_cur .phone_pro li a {
     text-decoration: none;
     font-family: Arial, simsun;
     font-size: 12px;
     color: #888;
     display: block;

 }

 .phone_cur .phone_sericon {
     float: right;
     width: 560px;
     line-height: 68px;
 }

 .phone_cur .phone_sericon li {
     float: right;
     line-height: 68px;
     height: 68px;
     margin-left: 30px;
 }

 .phone_cur .phone_sericon li a {
     font: 14px/68px "Microsoft YaHei";
     color: #ccc;
     width: 56px;
     height: 19px;
 }

 .phone_cur .phone_sericon li a i {
     float: left;
     width: 29px;
     height: 69px;
     line-height: 69px;
     margin-right: 10px;
     color: #cbcbcb;
     font-size: 34px;
     font-style: normal;
     overflow: hidden;
 }

 .phone_cur .phone_sericon li:hover i {
     color: red;
     font-weight: 900;
 }

 .phone_cur .phone_sericon li:hover a {
     color: red;

 }

 .phone_focus .categorys {
     width: 200px;
     position: relative;
     z-index: 2;
     bottom: 0;
     left: 0;
     font-size: 12px;
     float: left;
 }

 .phone_focus .categorys .categorys-bg {
     position: absolute;
     left: 0;
     top: 0;
     width: 200px;
     height: 320px;
     background: #333;
     z-index: 5;
 }

 .phone_focus .categorys .c-wrap {
     position: absolute;
     width: 200px;
     height: 320px;
     z-index: 10;
     margin: 0;
 }

 .phone_focus .categorys .c-wrap .menu {
     height: 318px;
     width: 199px;
     overflow: hidden;
     border: 1px solid #333;
     border-right: none;
 }

 .phone_focus .categorys .c-wrap .menu .edit-mode {
     float: none;
     width: auto;
     height: 61px;
     padding: 18px 10px 0 15px;
 }

 .phone_focus .categorys .c-wrap .menu .edit-mode .item-block {
     height: 24px;
 }

 .phone_focus .categorys .c-wrap .menu .edit-mode .item-block h2 {
     width: 120px;
     overflow: hidden;
     word-break: break-all;
     position: relative;
     z-index: 2;
     height: 20px;
     line-height: 21px;
     font-size: 18px;
     float: left;
     color: #fff;
     font-weight: 400;
 }

 .phone_banderbox .focus {
     position: absolute;
     z-index: 0;
     left: 0;
     top: 68px;
     width: 100%;
     height: 320px;
     overflow: hidden;
 }

 .phone_banderbox .focus .swiper-container .sl1 {
     width: 1000px;
     height: 320px;
 }

 /* .phone_banderbox .focus .prev1{
    position: absolute;
    top: 50%;
    left: 110px;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer
} */
 .phone_banderbox .focus .prev_box {
     position: absolute;
     top: 50%;
     /* left: 100px; */
     width: 50px;
     height: 104px;
     cursor: pointer;
     background: rgba(0, 0, 0, .1);

     /* opacity: .1; */
     z-index: 22;
     transform: translateY(-50%);
 }

 .phone_banderbox .focus .next_box {
     position: absolute;
     top: 50%;
     right: 0px;
     width: 50px;
     height: 104px;
     /* margin-top: -22px; */
     z-index: 10;
     cursor: pointer;
     background: rgba(0, 0, 0, .1);
     /* opacity: .1; */
     transform: translateY(-50%);
 }

 .phone_banderbox .focus .next_box:hover {
     background: rgba(0, 0, 0, .5);
 }

 .phone_banderbox .focus .prev_box:hover {
     background: rgba(0, 0, 0, .5);
 }

 .phone_focus .categorys .c-wrap .menu .edit-mode .item-block span {
     /* display: inline-block; */
     float: right;
     margin-top: 12px;
     width: 8px;
     height: 10px;
     background: url(../images/phonebg.png) -22px -123px no-repeat;
 }

 .phone_focus .categorys .c-wrap .menu .edit-mode .ext {
     width: 160px;
     height: 20px;
     overflow: hidden;
     position: relative;
     z-index: 2;
     line-height: 21px;
     word-break: keep-all;
 }

 .phone_focus .categorys .c-wrap .menu .edit-mode.curcate {
     background-color: #fff;
     color: black;

 }

 .phone_focus .categorys .c-wrap .menu .edit-mode.curcate .item-block h2 {
     color: black;
 }

 .phone_focus .categorys .c-wrap .menu .edit-mode.curcate .ext a {
     color: #000;
 }


 .phone_focus .categorys .c-wrap .menu .edit-mode .ext a {
     color: #fff;
     margin-right: 6px;
 }

 /* .phone_banderbox  .focus .sp-item{
    background-color: #f8563f;
} */
 .phone_banderbox .focus .swpage1 span {
     display: inline-block;
     width: 48px;
     height: 6px;
     border-radius: 0;
 }

 .phone_banderbox .swiper-container {
     transform: translateX(100px);
 }



 .pro_exhibition .newpro {
     margin-top: 22px;
 }

 .pro_exhibition .newpro .newpro_298 {
     width: 298px;
     height: 218px;
     float: left;
     overflow: hidden;
 }

 .pro_exhibition .newpro .newpro_298 img:hover {
     opacity: .8;
 }

 /* 热门特价 */
 .newpro_classify {
     margin-top: 12px;
 }

 .newpro_classify .newpro_znjj_title {
     height: 55px;
     overflow: hidden;
 }

 .newpro_classify .newpro_znjj_title li {
     border-top: 3px solid #d2d2d2;
     width: 299px;
     height: 55px;
     background-color: #eee;
     float: left;
     margin-right: 1px;
     text-align: center;
     line-height: 52px;
     font-size: 16px;
     color: #333;
 }

 .newpro_classify .newpro_classify_pro {
     border: #e6e6e6 1px solid;
     border-top: none;
     height: 289px;
     overflow: hidden;
     position: relative;
 }

 .newpro_classify .newpro_classify_pro>li {
     position: absolute;
     display: none;
 }

 .newpro_classify .newpro_classify_pro .nc_active {
     display: block;
 }

 .newpro_classify .newpro_classify_pro li {
     /* width: 238px; */
     float: left;
     /* border: #fff 1px solid; */

 }

 .newpro_classify .newpro_znjj_title .nc_item {
     border-top: 3px solid #333333;
     width: 299px;
     height: 55px;
     background-color: #fff;
     float: left;
     margin-right: 1px;
     text-align: center;
     line-height: 52px;
     font-size: 16px;
     color: #333;
 }

 .newpro_classify .newpro_classify_pro ul li .newpro_box {
     width: 100%;
     margin: 26px 0;
 }

 .newpro_classify .newpro_classify_pro ul li .newpro_box .listbox {
     height: 234px;
     padding: 0 22px 0 18px;
     position: relative;
     left: 0;
 }

 .newpro_classify .newpro_classify_pro ul li .newpro_box .listbox .goodsImg a {
     padding-left: 26px;
     display: block;
     width: 160px;
     height: 160px;
 }

 .newpro_classify .newpro_classify_pro ul li .price {
     color: #e3101e;
     font-size: 18px;
     line-height: 22px;
     margin-top: 20px;
     font-family: Arial, simsun;
 }

 .newpro_classify .newpro_classify_pro ul li .goodsName {
     font-size: 12px;
     line-height: 16px;
     color: #5e5e5e;
     font-weight: 400;
     height: 48px;
     overflow: hidden;
     margin-top: 7px;
 }

 .newpro_classify .newpro_classify_pro ul li .goodsName a {
     width: 198px;
     display: inline-block;
     font-family: Arial, simsun;
     font-size: 12px;
     color: #5e5e5e;
     text-decoration: none;
     line-height: 16px;
     height: 15px;
     overflow: hidden;
 }

 .newpro_classify .newpro_classify_pro ul li .listLine {
     position: absolute;
     width: 1px;
     height: 237px;

     right: -1px;
     top: 0;
     font-size: 0;
     line-height: 0;
     overflow: hidden;
     background: #f3f3f3;
 }

 .newpro_classify .newpro_classify_pro ul .last {
     border-right: none;
     width: 236px;
     overflow: hidden;
 }

 /* 品牌旗舰店 */
 .phone_floor {
     position: relative;
     height: 644px;
 }
 .phone_floor2{
     position: relative;
     
 }
 .phone_floor2 #name2{
    height: 53px;
    line-height: 68px;
    font-size: 20px;
    color: #333;
 }

 .brand_banner {
     height: 85px;
     margin: 15px 0 5px;
 }

 /* 1F智能家电 */
 .phone_floor h2 {
     height: 53px;
     line-height: 68px;
     font-size: 20px;
     color: #333;
 }

 #floor_content {
     position: relative;
     width: 800px;
     height: 591px;
     float: left;
     overflow: hidden;
 }

 .floor_center {
     width: 800px;
     float: left;
     overflow: hidden;
     /* position: relative; */
     position: absolute;
     display: none;
 }

 .floor_center.fc_active {
     display: block;
 }

 .phone_floor .left_and_center {
     position: relative;
     z-index: 30;
     float: left;
     width: 980px;
     /* _height: 582px; */
     overflow: hidden;
     /* background-color: #FFF; */
 }

 .phone_floor .left_and_center .floor_left .left_classify li.lc_item {
     background: #333;
     color: #fff;
     width: 180px;
     _width: 178px;
     left: -1px;
 }

 .phone_floor .left_and_center .floor_left {
     position: relative;
     z-index: 1;
     width: 178px;
     float: left;
     border: 1px solid #e6e6e6;
     border-right: 1px solid #f3f3f3;
 }

 .phone_floor .left_and_center .floor_left .left_classify {
     width: 178px;
     height: 300px;
     background: #fff;
 }

 .phone_floor .left_and_center .floor_left .left_classify li {
     width: 178px;
     height: 49px;
     text-align: center;
     line-height: 49px;
     font-size: 14px;
     border-bottom: 1px solid #f3f3f3;
     background: #fff;
     float: left;
     position: relative;
     z-index: 5;
 }

 .left_classify li p {
     position: absolute;
     top: 21px;
     right: 0;
     z-index: 1000;
     width: 0;
     height: 0;
     border-top: 4px solid #333;
     border-left: 4px solid #333;
     border-right: 4px solid #FAFAFA;
     border-bottom: 4px solid #333;
     overflow: hidden;
     display: none;
 }

 .floor_ads_pic {
     width: 250px;
     background: #FAFAFA;
     border-top: 1px solid #e6e6e6;
     padding-bottom: 11px;
     height: 279px;
     overflow: hidden;
 }

 .floor_ads_pic img {
     margin: 20px 0 30px 45px;
 }

 .floor_ads_pro {
     margin: 20px 0 30px 45px;
 }

 .floor_ads_price {
     line-height: 18px;
     font-family: Arial, simsun;
     font-size: 18px;
     padding: 0 0 3px 22px;
     color: #e3101e;
 }

 .floor_ads_name a {
     display: block;
     width: 160px;
     height: 24px;
     overflow: hidden;
     font-size: 12px;
     font-family: Arial, simsun;
     color: #888;
     text-decoration: none;
     word-break: break-all;
 }

 .floor_ads_name {
     padding-left: 22px;
     width: 160px;
     height: 24px;
     line-height: 30px;
 }

 .floor_ads_der {
     padding-left: 25px;
     width: 160px;
     line-height: 14px;
 }

 .floor_ads_der a {
     display: block;
     width: 160px;
     height: 14px;
     overflow: hidden;
     font-size: 12px;
     font-family: Arial, simsun;
     color: #888;
     text-decoration: none;
     word-break: break-all;
 }

 /* .floor_center_proshow {
    clear: both;
    width: 799px;
    height: 291px;
    overflow: hidden;
    border-right: 1px solid #f3f3f3;
} */
 .floor_center_prolist {
     width: 800px;
     height: 289px;
     float: left;
     border-bottom: 1px solid #e6e6e6;
     padding-top: 1px;
 }

 .floor_center_prolist li {
     width: 199px;
     margin-top: 30px;
     float: left;
 }

 .floor_proli_box {
     height: 260px;
     border-right: 1px solid #f3f3f3;
 }

 .floor_proli_box img {
     margin: -6px 0 30px 20px;
 }


 /* 轮播 */
 .floorfocus {
     position: absolute;
     width: 550px;
     height: 290px;
     overflow: hidden;
     left: 430px;
     top: 53px;
     z-index: 50;
     border-top: 1px solid #e6e6e6;
 }

 .floorfocus .sc2 {
     width: 550px;
     height: 291px;
 }
 .swiper-slide{
  background-size: 100% 100%;
    
 }

 /* 右边小tab切换 */
 .phone_floor .r-side {
     float: left;
     height: 580px;
     width: 219px;
     overflow: hidden;
     border: 1px solid #e6e6e6;
     border-left: none;
     /* position: relative; */
 }

 .for_ie_ul {
     padding: 0 1px;
 }

 .rank_title {
     width: 219px;
     height: 37px;
     background: #f8f8f8;
     border-bottom: 1px solid #e6e6e6;
 }

 .r-side .rank_title li {
     height: 37px;
     width: 109px;
     display: block;
     text-align: center;
     float: left;
     line-height: 37px;
     background: #f8f8f8;
     font-size: 14px;
     border-right: 1px solid #e6e6e6;
     border-bottom: 1px solid #e6e6e6;
 }

 .r-side .rank_title li.cur {
     background-color: lightgray;
     /* background-color: blue; */
     /* border-bottom: 1px solid #fff; */
 }

 .r-side .rank_title .rank_title_li_last {
     border-right: none;
 }

 .r-side .rank_title li a {
     text-decoration: none;
     color: #5e5e5e;
 }

 .r-side .rank_content {
     height: 525px;
     padding: 17px 16px 0;
     overflow: hidden;
 }

 .rank_content li {
     padding-bottom: 24px;
     height: 81px;
 }

 .rank_content .p-pic {
     display: inline;
     float: left;
     height: 78px;
     margin-right: 12px;
     width: 78px;
 }

 .rank_content .p-pic img {
     width: 78px;
     height: 78px;
     border: 1px solid #f4f4f4;
 }

 .rank_content .p-name {
     height: 36px;
     line-height: 18px;
     overflow: hidden;
     word-break: break-all;
 }

 .rank_content .p-name a {
     display: inline-block;
     max-height: 36px;
     font-size: 12px;
     font-family: Arial, simsun;
     color: #888;

 }

 .rank_content .p-price {
     line-height: 24px;
     font-size: 14px;
     color: #e3101e;

 }

 .phone_floor .rank_content {
     position: absolute;
     display: none;
 }

 .phone_floor .rank_content.show {
     display: block;

 }
 

 *{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    border:none;
}
i{
    font-style: normal;
}
.gome-topad{
    background-color: rgb(244, 0, 0);
    width:100%;
    /* position: relative; */
}
.close-gome-topad .wbox{
    width: 1200px;
    margin:0 auto;
    position: relative;
}
.close-gome-topad{
    position: absolute;
    display: block;
    padding:6px;
    top:4px;
    right:-12px;
    cursor: pointer;
}
.close-gome-topad i{
    display: block;
    width: 15px;
    height: 15px;
    background: url(../images/ui.png) -60px -446px;
    text-indent: -99px;
    overflow: hidden;
}
.close-gome-topad:hover{
    background-color: rgba(90,90, 54, 0.5);
}

.gome-top a{
    color: #888;
}
.gome-top{
    width: 100%;
    position: relative;
    border-bottom:1px solid #f3f3f3;
    background: #f8f8f8;
    height: 30px;
    color:#5e5e5e;
    z-index:999;
}
.wbox{
    width: 1200px;
    margin:0 auto;
}
#gome-user{
    margin-right:12px;
}
.gome-top li{
    float: left;
    position: relative;
    font:400 12px/30px Arial,"Microsoft YaHei";
}
#gome-user b{
    color:#5e5e5e
}
.gome-top b{
    font-weight: 400;
    display: block;
    padding:0 20px 0 10px;
    border:1px solid #f8f8f8;
    border-bottom:0;
    height: 30px;
    overflow: hidden;
    position: relative;
    z-index: 9;
}

.gome-top #gome-mygome{
    position: relative;
}
.gome-top #gome-mygome .public{
    width: 260px;
    padding: 0;
    position: absolute;
    top: 30px;
    background-color: #fff;
    height: 0px;
    overflow: hidden;
    /* transition: all .2s; */
}
.gome-top #gome-mygome .public strong{
    display: block;
    font-weight: 700;
    padding: 10px 10px 0;
    font: 12px/24px Arial,"Microsoft YaHei";
    color: #888;
}
.gome-top #gome-mygome .public strong a{
    color: #069;
}
.gome-top #gome-mygome .public #mygome-order{
    padding: 0 0 9px;
    margin: 0 10px;
    border-bottom: 1px solid #f3f3f3;
    overflow: hidden;
}
.gome-top #gome-mygome .public #mygome-order li{
    float: left;
    width: 50%;
    line-height: 25px;
    height: 25px;
}
.gome-top #gome-mygome .public #mygome-order li a{
    color: #888;
}
.gome-top #gome-mygome .public #mygome-coupon{
    padding-left: 10px;
    overflow: hidden;
}
.gome-top #gome-mygome .public #mygome-coupon li{
    float: left;
    width: 200px;
    padding: 10px 0;
    line-height: 14px;
}
.gome-top #gome-mygome .public #mygome-coupon li a{
    color: #888;
}
.gome-top #gome-mygome .public #mygome-coupon li ins{
    display: inline-block;
    vertical-align: middle;
    color: #cdcdcd;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 4px;
}
.gome-top #gome-mygome .public p{
    clear: both;
    background: #f8f8f8;
    padding: 10px;
    overflow: hidden;
    font: 12px/24px Arial,"Microsoft YaHei";
    color: #888;
}
.gome-top #gome-mygome .public #mygome-track{
    background: #f8f8f8;
    padding: 0 0 18px 10px;
    height: 50px;
    overflow: hidden;
}
.gome-top #gome-mygome .public #mygome-track li{
    float: left;
    width: 50px;
    height: 50px;
    margin: 0 12px 10px 0;
    background: url(../images/ui.png) 0 -397px;
}
.gome-top #gome-mygome:hover b{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-bottom-color:#fff ;
}
.gome-top #gome-mygome:hover .public{
    height: 240px;
    border: 1px solid #e6e6e6;
}
#gome-enterprise .public-dropdown{
    width: 200px;
    position: absolute;
    padding: 0;
    left: auto;
    right: 0;
    top: 30px;
    background: #fff;
    height: 0px;
    overflow: hidden;
    /* transition: all .2s; */
}
#gome-enterprise .public-dropdown a{
    display: inline-block;
    height: 200px;
    width: 200px;
    background: url(../images/ui.png) 0 -1511px;
}
#gome-enterprise:hover b{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-bottom-color:#fff ;
}
#gome-enterprise:hover .public-dropdown{
    height: 200px;
    border: 1px solid #e6e6e6;
    padding: 15px;
}
#gome-service .public-dropdown{
    width: 210px;
    padding-top: 0;
    position: absolute;
    top: 30px;
    background: #fff;
    height: 0;
    left: 0;
    overflow: hidden;
    /* transition: all .2s; */
}
#gome-service .public-dropdown p{
    font: 700 12px/24px Arial,"Microsoft YaHei";
    color: #898989;
}
#gome-service .public-dropdown ul{
    padding: 0 0 10px;
    height: 48px;
    overflow: hidden;
}
#gome-service .public-dropdown ul li{
    float: left;
    font: 12px/24px Arial,"Microsoft YaHei";
    width: 33%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#gome-service .public-dropdown .service{
    color: #fff;
    background: #dd00a7;
    text-align: center;
    display: block;
    line-height: 25px;
    height: 25px;
    cursor: pointer;
    font-weight: 400;
    margin-top: 4px;
}
#gome-service .public-dropdown .service em{
    font-size: 19px;
    line-height: 25px;
    height: 25px;
    color: #fff;
    background: 0 0;
}
#gome-service:hover b{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-bottom-color:#fff ;
}
#gome-service:hover .public-dropdown{
    height: 193px;
    border: 1px solid #e6e6e6;
    padding:10px 15px;
}
#gome-sitemap .public-dropdown{
    width: 1198px;
    position: absolute;
    top: 30px;
    background: #fff;
    height: 0px;
    right: -100px;
    overflow: hidden;
}
#gome-sitemap .public-dropdown dl{
    float: left;
    padding: 0 15px 0 40px;
    border-left: 1px solid #f3f3f3;
    margin: 15px 0;
}
#gome-sitemap .public-dropdown dl.none{
    border: none;
}
#gome-sitemap .public-dropdown dl dt{
    font: 700 14px/14px Arial,"Microsoft YaHei";
    margin: 0 0 14px;
}
#gome-sitemap .public-dropdown dl dd{
    overflow: hidden;
    min-height: 120px;
}
#gome-sitemap .public-dropdown dl dd ul{
    float: left;
    width: 75px;
}
#gome-sitemap .public-dropdown dl dd ul li{
    width: 100%;
    text-align: left;
    font: 12px/24px Arial,"Microsoft YaHei";
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#gome-sitemap:hover b{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-bottom-color: #fff;
}
#gome-sitemap:hover .public-dropdown{
    border: 1px solid #e6e6e6;
    height: 178px;
    padding: 10px 0;
}
#gome-phone .public-dropdown{
    position: absolute;
    top: 30px;
    padding: 0;
    left: auto;
    right: 0;
    width: auto;
    background: #fff;
    height: 0;
    overflow: hidden;
}
#gome-phone .public-dropdown a{
    display: inline-block;
    height: 170px;
    width: 130px;
    background: url(../images/ui.png) 0 -799px;
}
#gome-phone:hover b{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-bottom-color: #fff;
}
#gome-phone:hover .public-dropdown{
    height: 170px;
    padding: 15px;
    border: 1px solid #e6e6e6;
}
#loginDiv-name a{
    display: inline;
    color:#5e5e5e
}
#loginDiv-name i{
    position: absolute;
    top:12px;
    right:8px;
    background-position: -62px -433px;
    width: 7px;
    height: 4px;
    overflow: hidden;
}
.gome-top i, .gome-top em{
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/ui.png);
    background-position: 0 -41px;
    color:#dd00a7;
}
#gome-user:hover{
    background-color: #fff;
}
#gome-user:hover #loginDiv-name i{
    background-position: -55px -433px;
}
#gome-user .public-dropdown{
    width: 290px;
    position: absolute;
    top:30px;
    background-color: #fff;
    left:0;
    overflow: hidden;
}
#user-name{
    padding:5px 0 20px;
    overflow: hidden;
}
#user-name i, #user-name i img{
    float: left;
    width: 55px;
    height: 55px;
    border-radius: 55px;
}
#user-name i{
    background-position: 0 -337px;
}
#user-name div{
    float:left;
    font:400 12px/20px Arial,"Microsoft YaHei";
    padding:0 0 0 15px;
    width: 220px;
}
#user-name .user-name-login{
    padding-top:20px;
}
#user-name p{
    color:#888;
    width: 100%;
    line-height: 16px;
    overflow: hidden;
}
#user-name .user-name-login a{
    color:#069;
}
#user-icon{
    border-top:1px solid #f3f3f3;
    padding-top:15px;
    position: relative;
    height: 100px;
}
#user-icon p{
    line-height: 18px;
}
#user-icon p a{
    color:#ccc;
    float: right;
}
#user-icon .user-icon-prev{
    left:0;
}
#user-icon .user-icon-prev, #user-icon .user-icon-next{
    position: absolute;
    top:54px;
    width: 16px;
    height: 29px;
    cursor: pointer;
    background: url(../images/ui.png) -60px -357px;
    display: inline-block;
}
#user-icon .user-icon-next{
    right:0;
    background-position: -76px -357px;
}
/* .public-dropdown{
    border:1px solid #f3f3f3;
} */
#user-icon div{
    margin:10px 25px 0;
    visibility: hidden;
    overflow: hidden;
    position: relative;
    z-index: 2;
    left:0;
    width: 240px;
}
#user-icon div ul{
    margin:0;
    padding:0;
    position: relative;
    list-style-type: none;
    z-index: 1;
    width: 720px;
    left:0;
    height: 70px;
    overflow: hidden;
}
#user-icon div ul li{
    overflow: hidden;
    float:left;
    width: 80px;
    height: 70px;
    text-align: center;
}
#user-icon li a{
    color:#ccc;
}
#user-icon i{
    display: block;
    height: 40px;
    background: 0 0;
    font-size: 40px;
    line-height: 40px;
}
#gome-top-right{
    float: right;
}
.gome-link{
    height: 30px;
    overflow: hidden;
    margin:0;
}
.gome-link a{
    margin-right:10px;
    line-height: 32px;
}
.gome-top a{
    color:#888;
}
.gome-top b i{
    position: absolute;
    top:12px;
    right:8px;
    background-position: -62px -433px;
    width: 7px;
    height: 4px;
    overflow: hidden;
}
#gome-service b em{
    font-size: 17px;
    color:#dd00a7;
    background: 0 0;
    line-height: 30px;
    height: 30px;
    top:0;
}
#gome-mygome{
    border-left:1px solid transparent;
    border-right:1px solid transparent;
}


#gome-head{
    position: relative;
    height: 120px;
    vertical-align: middle;
    z-index: 980;
}
#logo a{
    display: block;
    width: 125px;
    height: 56px;
    background: url(../images/logo.png) 0 0 no-repeat;
    overflow: hidden;
}
#logo{
    float: left;
    margin:32px 10px 0 0;
}
#logo-gif{
    float: left;
    margin:35px 0 0 10px;
}
#logo-gif img{
    width: 100px;
    height: 50px;
}
.topSearch{
    position: relative;
    width: 500px;
    top:32px;
    z-index: 91;
    left:385px;
}
.searchbox{
    border:1px solid #dd00a7;
    position: relative;
    font-size: 14px;
    height: 30px;
    background-color: #fff;
}
#search-type-dropdown{
    position: absolute;
    top:0;
    left:0;
    color:#A5A5A5;
    float: left;
    width: 62px;
    height: 30px;
    line-height: 30px;
}
#search-type-dropdown .search-type{
    position: relative;
    width: 42px;
    padding:0 10px;
    height: 30px;
    border-right:1px solid #dd00a7;
}
#search-type-dropdown .search-type i{
    position: absolute;
    width: 11px;
    height: 7px;
    right:9px;
    top:11px;
    background: url(../images/ui.png) -145px -1469px;
}
#search-type-dropdown .search-type-list{
    position: absolute;
    left:-1px;
    right:-1px;
    top:30px;
    border:1px solid #dd00a7;
    background-color: #fff;
    display: none;
    z-index: 10;
}
#search-type-dropdown .search-type-item{
    width: 42px;
    padding:0 10px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}

.searchbox label{
    font-family: 'microsoft yahei';
    position: absolute;
    top:0;
    left:72px;
    right:110px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    color:#bbb;
    cursor: pointer;
}
.searchbox input{
    border:none;
    width: 336px;
    line-height: 28px;
    float:left;
    font-size: 14px;
    font-family: arial;
    color:#5E5E5E;
    background-color: transparent;
    position: absolute;
    top:0; 
    left: 68px;
}
input{
    outline: 0;
}
.searchbox button{
    width: 90px;
    height: 30px;
    border:none;
    cursor: pointer;
    float: right;
    background-color: #dd00a7;
    font:16px/30px 'microsoft yahei';
    color:#fff;
    letter-spacing: 2px;
    text-indent: 0;
}
.voice-search{
    margin-right: 3px;
    opacity: .55;
    float: right;
    padding:5px 0;
    cursor: pointer;
    width: 15px;
    height: 20px;
    background: url(../images/下载.png) no-repeat no-repeat center;
    background-size: 13px 19px;
}
.hotkeyword{
    margin:6px 0 0;
    overflow: hidden;
    line-height: 14px;
    height: 14px;
    font-size: 12px;
    width:100%;
    position: absolute;
    top:34px;
}
.hotkeyword a{
    display: inline-block;
    margin-right:5px;
    line-height: 14px;
    font-family: 'microsoft yahei';
    color: #A5A5A5;
}
.mygome-side{
    position: absolute;
    right:0;
    top:32px;
    z-index: 92;
    width: 240px;
}
.topmenu{
    float:right;
    z-index:96;
    position: relative;
    font-size: 12px;
}
.topmenu li{
    float: left;
    vertical-align: middle;
    position: relative;
}
.shopcartbox .cartlinkbox{
    display: inline-block;
    padding:5px 20px 0 45px;
    line-height: 34px;
    height: 34px;
    width: 75px;
}
.cartlinkbox .menulink{
    border:none;
    margin:1px;
}
.topmenu a{
    color:#5E5E5E;
}
.i-cart{
    position: absolute;
    width: 30px;
    height: 20px;
    background: url(../images/ui.png) -100px -701px;
    top:11px;
    left:10px;
}
.shopnum{
    position: absolute;
    height: 18px;
    line-height: 18px;
    padding:0 3px;
    top:-18px;
    text-align: center;
    left:15px;
    background-color: #A5A5A5;
    color:#fff;
    font-weight: 700;
    width: 14px;
}
em{
    font-style: normal;
}
.shopnum i{
    position: absolute;
    width: 0;
    height: 0;
    border:4px dashed transparent;
    border-color:transparent transparent transparent #A5A5A5;
    border-right:0;
    border-left-style: solid;
    overflow: hidden;
    bottom:-4px;
    left:5px;
}



#gome-help{
    margin-top:30px;
    width: 1200px;
    margin:15px auto 0;
    overflow: hidden;
}
#gome-help ul{
    background-color: #f5f5f5;
    padding:15px 0;
    overflow: hidden;
}
#gome-help li{
    float: left;
    width: 33%;
    text-align: center;
}
#gome-help i{
    display: inline-block;
    width: 40px;
    height: 42px;
    background: url(../images/ui.png);
    vertical-align: middle;
    margin-right:10px;
}
#gome-help i.icon-pz{
    background-position: 0 -1469px;
}
#gome-help a{
    line-height: 40px;
    font:700 18px/37px Arial,"Microsoft YaHei";
    color:#404040;
}
.foot-titlt-dot{
    margin:0 16px;
    color:#ccc;
    width: 3px;
    height: 10px;
    background: url(../images/ui.png);
    vertical-align: middle;
    background-position: -120px -1489px;
}
#gome-help a.sec-title{
    font-weight: 400;
}
#gome-help i.icon-dj{
    background-position: -40px -1469px;
}
#gome-help i.icon-sd{
    background-position: -80px -1469px;
}
.gome-help-box{
    width:110%;
    margin-left:-5%;
    overflow: hidden;
}
#gome-help dl{
    float:left;
    width:9%;
    padding:15px 0 0 125px;
    white-space: nowrap;
}
#gome-help dt{
    font:16px/25px Arial,"Microsoft YaHei";
    color:#5e5e5e;
}
#gome-help dl ul{
    background: 0 0;
    padding:0;
}
#gome-help dl li{
    float:none;
    width:100%;
    text-align: left;
}
#gome-help dl a{
    font:12px/22px Arial,"Microsoft YaHei";
    color:#a5a5a5;
    padding:0;
}
#gome-foot{
    border-top:1px solid #dd00a7;
    background-color: #f7f7f7;
    margin-top:15px;
    zoom: 1;
}
#gome-foot-box{
    position: relative;
    width:1200px;
    margin:0 auto;
    padding:20px 0 0;
    background-color: #f7f7f7;
}
#gome-foot span{
    display: inline-block;
    padding:0 50px 40px 0;
}
#gome-foot span i{
    display: block;
    width: 45px;
    height: 45px;
    background: url(../images/ui.png) 0 -135px;
    float: left;
}
#gome-foot span p{
    margin-left:10px;
    font:12px/20px Arial,"Microsoft YaHei";
    float: left;
    width:210px;
    overflow: hidden;
    height: 45px;
}
#gome-foot p{
    color:#999;
    font:12px/22px Arial;
}
#gome-foot span strong{
    color:#333;
    display: block;
    font:400 16px/25px Arial,"Microsoft YaHei";
}
#gome-foot span a{
    color:#999;
}
#gome-foot span.ued i{
    background-position: -45px -135px;
}
#gome-foot .qrcode-section{
    position: absolute;
    right:-10px;
    top:15px;
    font-size: 0;
}


#gome-foot em.code-sm{
    width: 50px;
    margin:0 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
}
#gome-foot em i{
    background: url(../images/ui.png);
    display: inline-block;
}
#gome-foot em.code-sm i, #gome-foot em.code-sm i img{
    width: 40px;
    height: 25px;
}
#gome-foot em.wx i{
    background-position: -105px -135px;
}
#gome-foot em div{
    position: absolute;
    left:-50px;
    bottom:54px;
    z-index: 10000;
    padding:10px;
    border:1px solid #eee;
    background-color: #fff;
    display: none;
} 
#gome-foot .wx:hover div{
    display: block;
}
#gome-foot .wap:hover div{
    display: block;
}

#gome-foot em div i.icon-triangle{
    position: absolute;
    height: 8px;
    width: 13px;
    left:68px;
    background: url(../images/ui.png) -67px -127px !important;
    top:100%;
}
#gome-foot em div img{
    display: block;
    width: 171px;
}
img{
    border:none;
    vertical-align: middle;
}
#gome-foot em.wap i{
    background-position: -185px -135px;
}
#gome-foot em.code-bg{
    width: 110px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
}
#gome-foot em.code-bg p{
    text-align: center;
    margin-left:4px;
}
#gome-foot em.code-bg i, #gome-foot em.code-bg img{
    width: 90px;
    height: 90px;
}
#gome-foot ul{
    float: left;
}
#gome-foot li{
    float:left;
    font:12px/22px Arial,"Microsoft YaHei";
    padding:0 13px 0 0;
    color:#ccc;
    white-space: nowrap;
}
#gome-foot a{
    color:#666;
}
#gome-foot .interDrug{
    color:#999;
}
#gome-foot .tw-w-ico-wrap{
    position: relative;
    padding-left:23px;
}
#gome-foot .tw-w-ico-wrap .tw-w-mark-icon{
    position: absolute;
    left:0;
    top:-3px;
    width: 18px;
    height: 20px;
    background: url(../images/ui.png) 0 -1712px;
}
.gome-foot-credit{
    border-top:1px solid #e6e6e6;
    margin-top:5px;
    padding:10px 0 25px;
    overflow: hidden;
}
#gome-foot .bottom{
    display: flex;
    flex-direction: column;
}
.gome-foot-credit i{
    display: block;
    width: 35px;
    height: 35px;
    background: url(../images/ui.png) 0 -180px;
    float: left;
}


.home b{
    font-weight: 400;
}
.gome-foot-credit b{
    font:12px/18px Arial,"Microsoft YaHei";
    display: block;
    float: left;
    color:#999;
    padding:0 20px 0 5px;
    width: 60px;
}
.gome-foot-credit .credit-xypj i{
    background-position: -35px -180px;
}
.gome-foot-credit .credit-cxwz i{
    background-position: -70px -180px;
}
.gome-foot-credit .credit-hdjc i{
    background-position: -105px -180px;
}
.gome-foot-credit .credit-wgdj i{
    background-position: -140px -180px;
}
.gome-foot-credit .credit-report i{
    background-position: -175px -180px;
}
.gome-foot-credit .credit-hazar i{
    background-position: -238px -180px;
}
.gome-foot-credit .credit-cxwz b,.credit-wgdj b{
    padding-top:9px;
}
.credit-report b{
    width: 119px;
}
#search-type-dropdown .search-type:hover .search-type-list{
    display: block;
}