<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/financial.css">
    <link rel="stylesheet" href="../static/css/swiper2.css">
    <link rel="shortcut icon" href="../static/images/favicon.ico">
</head>
<body>
    <!--顶部-->
    
   <div class="gome-top">
    <div class="wbox">
        <ul>
            <li id="gome-user">
                <b id="loginDiv-name">
                    <a href="">国美会员</a>
                    <i></i>
                </b>
              
            </li>
            <li id="loginDiv-link" class="gome-link">
                <a href="login.html">登录</a>
                <a href="regesiter.html" class="gome-link-register">
                    注册有礼
                    <i></i>
                </a>
            </li>
        </ul>
        <ul id="gome-top-right">
            <li class="gome-link">
                <a href="">我的订单</a>
            </li>

            <li id="gome-mygome">
                <b>
                    <a href="">我的国美</a>
                    <i></i>
                </b>
                <div class="public">
                    <strong>
                        我的国美
                        <a href="login.html">请登录！</a>
                    </strong>
                    <ul id="mygome-order">
                        <li><a href="javascript:;">待处理订单</a></li>
                        <li><a href="javascript:;">我的收藏</a></li>
                        <li><a href="javascript:;">个人资料</a></li>
                        <li><a href="javascript:;">我的美店</a></li>
                    </ul>
                    <ul id="mygome-coupon">
                        <li>
                            <a href="javascript:;">我的优惠券</a>
                            <ins>-</ins>
                        </li>
                    </ul>
                    <p>足迹</p>
                    <ul id="mygome-track">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </li>
            <li id="gome-enterprise">
                <b>
                    <a href="">企业采购</a>
                    <i></i>
                </b>
                <div class="public-dropdown">
                    <a href="javascript:;"></a>
                </div>
            </li>
            <li id="gome-service">
                <b>
                    <em class="gm-icon iconfont icon-fuwuzhongxinbeifen2"></em>
                    <a href="">服务中心</a>
                    <i></i>
                </b>
                <div class="public-dropdown">
                    <p>
                        <a href="javascript:;">用户服务</a>
                    </p>
                    <ul>
                        <li>
                            <a href="javascript:;">售后服务</a>
                        </li>
                        <li>
                            <a href="javascript:;">帮助服务</a>
                        </li>
                        <li>
                            <a href="javascript:;">新手指南</a>
                        </li>
                        <li>
                            <a href="javascript:;">客服服务</a>
                        </li>
                        <li>
                            <a href="javascript:;">用户注销</a>
                        </li>

                    </ul>
                    <p>
                        <a href="javascript:;">商家服务</a>
                    </p>
                    <ul>
                        <li>
                            <a href="javascript:;">招商合作</a>
                        </li>
                        <li>
                            <a href="javascript:;">商家登录</a>
                        </li>
                        <li>
                            <a href="javascript:;">广告平台</a>
                        </li>
                        <li>
                            <a href="javascript:;">平台规则</a>
                        </li>
                        <li>
                            <a href="javascript:;">商家培训</a>
                        </li>

                    </ul>
                    <a href="" class="service">
                        <em class=""></em>
                        在线客服
                    </a>
                </div>
            </li>
            <li id="gome-sitemap">
                <b>
                    <a href="">网站导航</a>
                    <i></i>
                </b>
                <div class="public-dropdown">
                    <dl class="none">
                        <dt>主题销售</dt>
                        <dd>
                            <ul>
                                <li>
                                    <a href="javascript:;">真划算</a>
                                </li>
                                <li>
                                    <a href="javascript:;">抢购</a>
                                </li>
                                <li>
                                    <a href="javascript:;">美家致选</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="javascript:;">家电城</a>
                                </li>
                                <li>
                                    <a href="javascript:;">服饰城</a>
                                </li>
                                <li>
                                    <a href="javascript:;">国美超市</a>
                                </li>
                                <li>
                                    <a href="javascript:;">品牌街</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="javascript:;">智能</a>
                                </li>
                                <li>
                                    <a href="javascript:;">今日特卖</a>
                                </li>
                                <li>
                                    <a href="javascript:;">新品抢先</a>
                                </li>
                                <li>
                                    <a href="javascript:;">家具家装</a>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>特色分类</dt>
                        <dd>
                            <ul>
                                <li><a href="javascript:;">
                                        电视影音
                                    </a></li>
                                <li><a href="javascript:;">
                                        冰洗
                                    </a></li>
                                <li><a href="javascript:;">
                                        洗衣机
                                    </a></li>
                                <li><a href="javascript:;">
                                        空调
                                    </a></li>
                                <li><a href="javascript:;">
                                        厨卫生活
                                    </a></li>
                            </ul>
                            <ul>
                                <li><a href="javascript:;">
                                        手机
                                    </a></li>
                                <li><a href="javascript:;">
                                        数码
                                    </a></li>
                                <li><a href="javascript:;">
                                        电脑办公
                                    </a></li>
                                <li><a href="javascript:;">
                                        精品配件
                                    </a></li>
                                <li><a href="javascript:;">
                                        汽车
                                    </a></li>
                            </ul>
                            <ul>
                                <li><a href="javascript:;">
                                        住宅家居
                                    </a></li>
                                <li><a href="javascript:;">
                                        家装建材
                                    </a></li>
                                <li><a href="javascript:;">
                                        家居日用
                                    </a></li>
                                <li><a href="javascript:;">
                                        床品家纺
                                    </a></li>

                            </ul>
                            <ul>
                                <li><a href="javascript:;">
                                        服饰鞋帽
                                    </a></li>
                                <li><a href="javascript:;">
                                        运动户外
                                    </a></li>
                                <li><a href="javascript:;">
                                        箱包奢品
                                    </a></li>
                                <li><a href="javascript:;">
                                        钟表首饰
                                    </a></li>

                            </ul>
                            <ul>
                                <li><a href="javascript:;">
                                        食品酒水
                                    </a></li>
                                <li><a href="javascript:;">
                                        母婴玩具
                                    </a></li>
                                <li><a href="javascript:;">
                                        美妆个护
                                    </a></li>


                            </ul>

                        </dd>
                    </dl>
                    <dl>
                        <dt>便捷服务</dt>
                        <dd>
                            <ul>

                                <li><a href="javascript:;">话费充值</a></li>
                                <li><a href="javascript:;">美店</a></li>
                            </ul>
                            <ul>
                                <li><a href="javascript:;">流量充值</a></li>
                                <li><a href="javascript:;">上门服务</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>更多热点</dt>
                        <dd>
                            <ul>
                                <li>
                                    <a href="javascript:;">加盟国美</a>
                                </li>
                                <li>
                                    <a href="javascript:;">招商合作</a>
                                </li>
                                <li>
                                    <a href="javascript:;">企业采购</a>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>国美旗下</dt>
                        <dd>
                            <ul>
                                <li>
                                    <a href="javascript:;">国美管家</a>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </li>
            <li id="gome-phone">
                <b>
                    <em class="gm-icon iconfont icon-shouji"></em>
                    <a href="">手机国美</a>
                    <i></i>
                </b>
                <div class="public-dropdown">
                    <a href="javascript:;"></a>
                </div>
            </li>
        </ul>
    </div>
   </div>
<!--国际金融-->
<div id="app">
    <div class="_3YPn">
        <div class="_3bnyF">
            <div class="_3JBIl">
                <i class="_3Egq7"></i>

                
                <ul>
                    <li><span style="color: #4797f7">首页</span></li>
                    <li><span>国美普惠</span></li>
                    <li><span>国美基金</span></li>
                    <li><span>国美黄金</span></li>
                    <li><span>国美保险</span></li>
                    <li><span>关于我们</span></li>
                    <li><span>新闻中心</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- 轮播 -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image:url(../static/images/fbg1.png)"></div>
        <div class="swiper-slide" style="background-image:url(../static/images/fbg2.jpg)"></div>
        <div class="swiper-slide" style="background-image:url(../static/images/fbg3.jpg)"></div>
     
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-white"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
    <!-- 搜索理财产品 -->
    <div class="_3FSWA">
        <div class="_3p8se">
            <p>所在城市</p>
            <ul class="_3ciHb">
                <li class="_3mNU7">
                    <p></p>
                </li>
            </ul>
                
            
        </div>
        <div class="_3M9y6">
            <p>期望收益</p>
            <ul class="_3ciHb">
                <li class="_3mNU7">
                    <p>不限</p>
                </li>
                <li class="_3mNU7">
                    <p>1%-3%</p>
                </li>
                <li class="_3mNU7">
                    <p>3%-5%</p>
                </li>
                <li class="_3mNU7">
                    <p>5%-7%</p>
                </li>
                <li class="_3mNU7">
                    <p>7%-10%</p>
                </li>
                <li class="_3mNU7">
                    <p>10%以上</p>
                </li>
            </ul>
        </div>
        <div class="_2OfN6">
            <p>投资期限</p>
             <ul class="_3ciHb">
                 <li class="_3mNU7">
                     <p>不限</p>
                 </li>
                 <li class="_3mNU7">
                    <p>1个月以内</p>
                </li>
                <li class="_3mNU7">
                    <p>3-6个月</p>
                </li>
                <li class="_3mNU7">
                    <p>6-12个月</p>
                </li>
                <li class="_3mNU7">
                    <p>12-24个月</p>
                </li>
                <li class="_3mNU7">
                    <p>24个月以上</p>
                </li>
             </ul>
        </div>
        <p class="_38jpN"></p>
        <div class="_2FCGx">搜索理财产品</div>
    </div>
    
</div>
<!-- 网站公告 -->
<div class="_2dht2">
    <div class="_22adc">
        <i></i>
        <ul></ul>
    </div>
    <ul class="_3OLIC">
        <li>
            <img src="../static/images/gg2.png" alt="">
        </li>
        <li>
            <img src="../static/images/gg2.png" alt="">
        </li>
        <li>
            <img src="../static/images/gg3.png" alt="">
        </li>
        <li>
            <img src="../static/images/gg4.png" alt="">
        </li>
    </ul>
</div>

<!-- 最后 -->

<div class="last">
   <div class="last2">
    <div class="last-content">
        <a href="javascript:;">
            <img src="../static/images/last1.png" alt="">
        </a>
    </div>
    <div class="WNcdc">
        <div class="_3NmNG">
            <div class="OVDM">
               <p class="_2AVao">
                工银双利债券A
               </p>
               <p class="xeJZN">
                   3.12
                   <i>%</i>
               </p>
               <p class="_3eyrd">
                近6个月收益率
               </p>
               <div class="_2iia">
                   <div>
                       <p>风险等级</p>
                       <span>中低</span>
                   </div>
                   <div>
                       <p>理财类型</p>
                       <span>债券型</span>
                   </div>
               </div>
               <button>立即赚钱</button>
            </div>
            <p class="_162hp">
                该产品为浮动性收益产品，理财有风险投资需谨慎
            </p>
        </div>
        <div class="_3NmNG">
            <div class="OVDM">
               <p class="_2AVao">
                金鹰添瑞中短债C
               </p>
               <p class="xeJZN">
                   1.16
                   <i>%</i>
               </p>
               <p class="_3eyrd">
                近6个月收益率
               </p>
               <div class="_2iia">
                   <div>
                       <p>风险等级</p>
                       <span>中低</span>
                   </div>
                   <div>
                       <p>理财类型</p>
                       <span>债券型</span>
                   </div>
               </div>
               <button>立即赚钱</button>
            </div>
            <p class="_162hp">
                该产品为浮动性收益产品，理财有风险投资需谨慎
            </p>
        </div>
    </div>
   </div>
</div>


       <!--底部-->
      
    <div id="gome-foot">
        <div id="gome-foot-box">
            <span>
                <i></i>
                <p>
                    <strong>门店服务</strong>
                    <a href="">国美门店全国共计2000余家</a>
                </p>
            </span>
            <span class="ued">
                <i></i>
                <p>
                    <strong>用户体验</strong>
                    <a href="">参与用户体验改进计划</a>
                    <a href="">用户反馈</a>
                </p>
            </span>
            <div class="qrcode-section">
                <em class="code-sm wx">
                    <i></i>
                    <p>公众号</p>
                    <div>
                        <img src="../static/images/T1kPDvBvZj1RCvBVdK.jpg" alt="">
                        <i class="icon-triangle"></i>
                    </div>
                </em>
                <em class="code-sm wap">
                    <i></i>
                    <p>手机站点</p>
                    <div>
                        <img src="../static/images/T1gGKvBshT1RCvBVdK.jpg" alt="">
                        <i class="icon-triangle"></i>
                    </div>
                </em>
                <em class="code-bg app">
                    <img src="../static/images/gomelogo.jpg" alt="">
                    <p>扫描下载客户端</p>
                </em>
            </div>
            <div class="bottom">
                <ul>
                    <li>
                        <a href="">国美控股集团</a>
                    </li>
                    <li>
                        <a href="">国美管家</a>
                    </li>
                    <li>
                        <a href="">关于国美</a>
                    </li>
                    <li>
                        <a href="">加入我们</a>
                    </li>
                    <li>|</li>
                    <li>
                        <a href="">品牌大全</a>
                    </li>
                    <li>|</li>
                    <li>
                        <a href="">商品专题</a>
                    </li>
                    <li>
                        <a href="">商品词</a>
                    </li>
                    <li>
                        <a href="">热词搜索</a>
                    </li>
                    <li>
                        <a href="">友情链接</a>
                    </li>
                    <li>
                        <a href="">风险监测</a>
                    </li>
                    <li>|</li>
                    <li>
                        <a href="">销售联盟</a>
                    </li>
                    <li>
                        <a href="">商家入驻</a>
                    </li>
                    <li>
                        <a href="">国美分销</a>
                    </li>
                </ul>
                <p>
                    本公司游戏产品适合18岁以上成年人使用 违法和不良信息举报电话：021-39900132
                    <a href="" class="interDrug">互联网药品信息服务资格证编号（沪）-经营性-2019-0006</a>
                </p>
                <p>
                    网络食品销售第三方平台提供者备案：沪网食备A0015号
                    <a href="" class="interDrug">网络文化经营许可证沪网文[2017]5537-436号</a>
                    <a href="" class="interDrug">增值电信业务经营许可证</a>
                </p>
                <p>
                    客服电话:4008113333
                    <a href="" class="interDrug">沪ICP备11009419号/京ICP备 19011786号</a>
                    <a href="" class="interDrug">京B2-20191290</a>
                    <a href="" class="interDrug">经营执照</a>
                    <a href="" class="interDrug">营业执照</a>
                    <a href="" class="interDrug">出版物经营许可证</a>
                </p>
                <p>
                    ©2000-2020 国美在线电子商务有限公司版权所有
                    <a href="" class="interDrug tw-w-ico-wrap">
                        <i class="tw-w-mark-icon"></i>
                        京公网安备 11010502038379号
                    </a>
                </p>
                <div class="gome-foot-credit">
                    <a href="" class="credit-baxx">
                        <i></i>
                        <b>经营性网站备案信息</b>
                    </a>
                    <a href="" class="credit-xypj">
                        <i></i>
                        <b>可信网站信用评价</b>
                    </a>
                    <a href="" class="credit-cxwz">
                        <i></i>
                        <b>诚信网站</b>
                    </a>
                    <a href="" class="credit-hdjc">
                        <i></i>
                        <b>朝阳网络警察</b>
                    </a>
                    <a href="" class="credit-wgdj">
                        <i></i>
                        <b>网购大家评</b>
                    </a>
                    <a href="" class="credit-report">
                        <i></i>
                        <b>上海市互联网违法和不良信息举报中心</b>
                    </a>
                    <a href="" class="credit-hazar">
                        <i></i>
                        <b>网上有害信息举报专区</b>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/swiper2.js"></script>
    <script src="financial.js"></script>
    <script>
         var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 30,
        effect: 'fade',
        loop:true,
    });

    var lnode =document.querySelector('._3p8se ._3ciHb ')
    var html =''
    for(var i=0;i<data[0].city.length;i++){
        html+=`<li>
                <p>
                    ${data[0].city[i]}
                    </p>
            </li>`
    }
    lnode.innerHTML=html
    
    var dnode =document.querySelector('._3FSWA>div')
   
    var _3ciHb=document.querySelector('._3ciHb')
        dnode.onclick=function(){
            _3ciHb.style.display='block'
           
        }
        dnode.onclick=function(){
            _3ciHb.style.display='none'
           
        }
        
    </script>
</body>
</html>