<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/find.css">
    <link rel="stylesheet" href="https://3.swiper.com.cn/dist/css/swiper.min.css">
    <link rel="shortcut icon" href="../static/images/favicon.ico">
</head>

<body>
    <div class="gome-head">
        <div class="logo">
            <a href="../view/index.html"></a>
        </div>
        <div class="slogan"></div>
        <div class="topsearch">
            <div class="searchbox">
                <div class="search-type-dropdown">
                    <div class="search-type">
                        <span>圈子</span>
                        <i style="background: url('../static/images/angele.png')-145px -1469px;"></i>
                    </div>
                    <ul>
                        <li>商品</li>
                        <li>店铺</li>
                    </ul>
                </div>
                <input type="text">
                <label class="ipt">冰箱</label>
                <button>搜索</button>
                <div class="voice-search"></div>
            </div>
            <div class="hotword">
                <a href="javascript:;" class="hightlight">iPhone8</a>
                <a href="javascript:;">好货推荐</a>
                <a href="javascript:;">女神装备</a>
                <a href="javascript:;">高跟鞋怎么选</a>
                <a href="javascript:;">GOME福利社</a>
                <a href="javascript:;">数码的世界</a>
            </div>
        </div>
        <div class="mygome-side">
            <ul class="topmenu">
                <li class="shopcartbox">
                    <span class="carlinkbox">
                        <a href="shop-cart.html" class="cartlink">
                            <em class="i-cart" style="background: url('../static/images/angele.png')-100px -701px;">
                                <span class="shopnum">
                                    <span>0</span>
                                    <i></i>
                                </span>
                            </em>
                            <span id="cartext">我的购物车</span>
                            <b></b>
                        </a>
                    </span>

                </li>
            </ul>
        </div>
    </div>
    <!-- 4个跳转链接 -->
    <div class="pc-wrap-box">
        <ul>
            <li><a href="javascript:;">热门</a></li>
            <li class="quanzi111"><a href="javascript:;">圈子</a></li>
            <li><a href="javascript:;">有好货</a></li>
            <li><a href="javascript:;">试用</a></li>
        </ul>
    </div>
    <!-- 内容 -->
    <div class="container-box">
        <div class="container">
            <div class="top-list">
                <div class="swiper-container swp1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="../static/images/T1pud4BbDT1RCvBVdK.jpg"></div>
                        <div class="swiper-slide"><img src="../static/images/T1sML4B4W_1RCvBVdK.jpg"></div>
                        <div class="swiper-slide"><img src="../static/images/T1YS_4B7dv1RCvBVdK.jpg"></div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swp1-pgn1"></div>
                </div>
                <div class="hot-content">
                    <h2>热门内容</h2>
                    <div class="tab-control">
                        <div class="tab-tags">
                            <ul>
                                <li class="tab-li">数码</li>
                                <li>电器</li>
                                <li>家居</li>
                            </ul>
                        </div>
                        <div class="tab-contents">
                            <div class="tab-ul ul-active">
                                <ul>
                                    <li>
                                        <img src="../static/images/T1In_4B7WT1RCvBVdK_140_140.jpg">
                                        <a href="javascript:;">
                                            <span>运动伴侣专业表现</span>
                                        </a>
                                    </li>
                                    <li>
                                        <img src="../static/images/T1pvD4B5Wv1RCvBVdK_140_140.jpg">
                                        <a href="javascript:;">
                                            <span>一招儿让你越人无数</span>
                                        </a>
                                    </li>
                                    <li>
                                        <img src="../static/images/T1iwZ4B7V_1RCvBVdK_140_140.jpg">
                                        <a href="javascript:;">
                                            <span>便携设计轻松游戏</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-ul">
                                <ul>
                                    <li>
                                        <img src="../static/images/T1xKL4BgZ_1RCvBVdK_140_140.jpg">
                                        <a href="javascript:;">
                                            <span>冰箱放哪有讲究</span>
                                        </a>
                                    </li>
                                    <li>
                                        <img src="../static/images/T1wcC4BjET1RCvBVdK_140_140.jpg">
                                        <a href="javascript:;">
                                            <span>别人家的烘焙永远最</span>
                                        </a>
                                    </li>
                                    <li>
                                        <img src="../static/images/T1vVL4B7Lv1RCvBVdK_140_140.jpg">
                                        <a href="javascript:;">
                                            <span>提前恢复撸串小日子</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-ul">
                                <ul>
                                    <li>
                                        <img src="../static/images/T1p7W4BCxv1RCvBVdK_140_140.jpg">
                                        <a href="javascript:;">
                                            <span>小仙女如何布置家</span>
                                        </a>
                                    </li>
                                    <li>
                                        <img src="../static/images/T1AcE4BmVv1RCvBVdK_140_140.jpg">
                                        <a href="javascript:;">
                                            <span>你的栖息地永远在这</span>
                                        </a>
                                    </li>
                                    <li>
                                        <img src="../static/images/T10md4BQhv1RCvBVdK_140_140.jpg">
                                        <a href="javascript:;">
                                            <span>充电几分钟发热一整夜</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-bottom">
                            <ul>
                                <li>
                                    <a href="javascript:;">
                                        <span>吸猫后不得不说的事</span>
                                        <em class="hot"></em>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span>别人家的厨房竟然长这样</span>
                                        <em class="hot"></em>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span>如何彻底实现家务自由</span>
                                        <em class="hot"></em>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span>关于养生交过哪些智商税</span>
                                        <em class="hot"></em>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 热门话题 -->
    <div class="hot-topic">
        <h2>热门话题</h2>
        <ul class="hot-ul">
        </ul>
    </div>
    <!-- 品质生活 -->
    <div class="life">
        <div class="life-banxin">
            <h2>品质生活</h2>
            <ul class="ul1">
            </ul>
        </div>

    </div>
    <!-- 达人精选 -->
    <div class="darenw">
        <div class="daren">
            <h2>达人精选</h2>
            <div class="daren-banxin">
                <div class="daren-left">
                    <ul>
                        <li>
                            <img src="https://gfs13.gomein.net.cn/T1r_LXB_J_1RCvBVdK.jpg">
                            <span>甜食才是长痘元凶?原来误会了这么多年</span>
                        </li>
                        <li>
                            <img src="https://gfs13.gomein.net.cn/T1qidXB7AT1RCvBVdK.jpg">
                            <span>治愈上班焦虑症,办公室好物推荐</span>
                        </li>
                        <li>
                            <img src="https://gfs12.gomein.net.cn/T1mfZXBTJT1RCvBVdK.jpg">
                            <span>别嫌家里空间小,看看收纳达人怎么做</span>
                        </li>
                        <li>
                            <img src="https://gfs13.gomein.net.cn/T1GuZXB_DT1RCvBVdK.jpg">
                            <span>年轻人的新玩具,据说一入手就要防沉迷</span>
                        </li>
                    </ul>
                </div>
                <div class="daren-right">
                    <ul>
                        <li>
                            <img src="https://gfs11.gomein.net.cn/T1nmEXBsDv1RCvBVdK_c160_90.jpg">
                            <span>笔记本电脑要怎么选?</span>
                        </li>
                        <li>
                            <img src="https://gfs13.gomein.net.cn/T1P6KXBgKT1RCvBVdK_c160_90.jpg">
                            <span>50元内高性价比鼠标推荐</span>
                        </li>
                        <li>
                            <img src="https://gfs12.gomein.net.cn/T1emdXB7Vv1RCvBVdK_c160_90.jpg">
                            <span>百元耳机竟有如此动感</span>
                        </li>
                        <li>
                            <img src="https://gfs10.gomein.net.cn/T1yULQByEg1RCvBVdK_c160_90.jpg">
                            <span>脱发开始,还有救吗?</span>
                        </li>
                        <li>
                            <img src="https://gfs10.gomein.net.cn/T16vLgB4C_1RCvBVdK_c160_90.jpg">
                            <span>工作日续命神器,赶走困倦</span>
                        </li>
                        <li>
                            <img src="https://gfs11.gomein.net.cn/T1AFbsBKET1RCvBVdK_c160_90.jpg">
                            <span>宝妈进!早教玩具莫跟风</span>
                        </li>
                        <li>
                            <img src="https://gfs11.gomein.net.cn/T18aAjBCWv1RCvBVdK_c160_90.jpg">
                            <span>愁!为啥宝宝吃饭难</span>
                        </li>
                        <li>
                            <img src="https://gfs11.gomein.net.cn/T1QZJbByA_1RCvBVdK_c160_90.jpg">
                            <span>宝宝学会了说谎,咋整?</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 推荐圈子 -->
    <div class="recommend">
        <div class="circle">
            <h2>推荐圈子</h2>
            <ul>
                <li>
                    <div class="top">
                        <img src="https://gfs11.gomein.net.cn/T134KjBTd_1RCvBVdK.jpg" title="智享家">
                        <span>手机</span>
                    </div>
                    <div class="bottom">
                        <p class="p1">
                            <a href="javascript:;">
                                <span>智享家</span>
                            </a>
                            <span>成员<i>5068</i></span>
                            <span>话题<i>1711</i></span>
                        </p>
                        <p class="p2">
                            [话题] 万万没想到！家里这些电器竟然这...
                        </p>
                        <p class="p2">
                            [话题] 夏季出行标配，有了它随时随地喝...
                        </p>
                        <a href="javascript:;" class="a1">
                            <em></em>
                            <span>加入圈子</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="top">
                        <img src="https://gfs10.gomein.net.cn/T1rhbQBjET1RCvBVdK.jpg" title="数码家">
                        <span>家用电器</span>
                    </div>
                    <div class="bottom">
                        <p class="p1">
                            <a href="javascript:;">
                                <span>数码家</span>
                            </a>
                            <span>成员<i>5266</i></span>
                            <span>话题<i>4190</i></span>
                        </p>
                        <p class="p2">
                            [话题] 索尼正在搞事情,传PS5将在2020...
                        </p>
                        <p class="p2">
                            [话题] 晚上拍照真的是件麻烦事吗?...
                        </p>
                        <a href="javascript:;" class="a1">
                            <em></em>
                            <span>加入圈子</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="top">
                        <img src="https://gfs10.gomein.net.cn/T1JBKjB5hv1RCvBVdK.jpg" title="育儿家">
                        <span>母婴</span>
                    </div>
                    <div class="bottom">
                        <p class="p1">
                            <a href="javascript:;">
                                <span>育儿家</span>
                            </a>
                            <span>成员<i>3.9万</i></span>
                            <span>话题<i>751</i></span>
                        </p>
                        <p class="p2">
                            [话题] 对宝宝来说英语启蒙，恨晚不怕早...
                        </p>
                        <p class="p2">
                            [话题] 产后如何控制，才能恢复辣妈身材?...
                        </p>
                        <a href="javascript:;" class="a1">
                            <em></em>
                            <span>加入圈子</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="top">
                        <img src="https://gfs11.gomein.net.cn/T1ZcKQBXV_1RCvBVdK.jpg" title="智享家">
                        <span>设计</span>
                    </div>
                    <div class="bottom">
                        <p class="p1">
                            <a href="javascript:;">
                                <span>智享家</span>
                            </a>
                            <span>成员<i>5068</i></span>
                            <span>话题<i>1711</i></span>
                        </p>
                        <p class="p2">
                            [话题] 让你魂牵梦萦的开放式厨房，到底...
                        </p>
                        <p class="p2">
                            [话题] 安利贴 :三件日用好物，让你更懂...
                        </p>
                        <a href="javascript:;" class="a1">
                            <em></em>
                            <span>加入圈子</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 逛逛商品 -->
    <div class="goshoping">
        <div class="go-banxin">
            <h2>逛逛商品</h2>
            <div class="list">

            </div>

            <div class="cont">

            </div>
        </div>
    </div>
</body>
<script src="https://3.swiper.com.cn/dist/js/swiper.min.js"></script>
<script>
    var swiper1 = new Swiper('.swp1', {
        pagination: '.swp1-pgn1',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        loop: true,
        autoplay: 2000
    });
</script>
<script>
    var quanzi = document.querySelector('.search-type')
    var quanzi0 = document.querySelector('.search-type span')
    var quanzi1 = document.querySelector('.search-type-dropdown')
    var quanzi2 = document.querySelector('.search-type-dropdown ul')
    var quanzi3 = document.querySelectorAll('.search-type-dropdown ul li')
    var ipt = document.querySelector('.ipt')
    quanzi.onmouseover = function () {
        console.log(111);
        quanzi2.style.display = 'block'
    }
    quanzi1.onmouseleave = function () {
        quanzi2.style.display = 'none'
    }
    quanzi3.forEach(function (item, index) {
        item.onclick = function () {
            quanzi0.innerHTML = this.innerHTML
            quanzi2.style.display = 'none'
        }
    })
    ipt.onmouseover = function () {
        ipt.style.display = 'none'
    }
    var tab_tags = document.querySelectorAll('.tab-tags ul li')
    var tab_ul = document.querySelectorAll('.tab-ul')
    tab_tags.forEach(function (item, index) {
        item.onmouseover = function () {
            for (let i = 0; i < tab_tags.length; i++) {
                tab_tags[i].classList.remove('tab-li')
                tab_ul[i].classList.remove('ul-active')
            }
            item.classList.add('tab-li')
            tab_ul[index].classList.add('ul-active')
        }
    })
</script>
<!-- 渲染数据 -->
<script src="../static/json/hottopic.js"></script>
<script>
    var hotul = document.querySelector('.hot-ul')
    var str = ''
    for (let i = 0; i < hotpic.data.length; i++) {
        str += `
        <li>
            <div class="hot-top">
                <img src="${hotpic.data[i].Images}" class="pic">
                <div class="head-hot">
                    <img src="${hotpic.data[i].head}">
                    <span>${hotpic.data[i].name}</span>
                </div>
            </div>
            <div class="hot-words">
                <p class="p1">${hotpic.data[i].title}</p>
                <p class="p2">
                    <span style="background-position: 0 -272px;"><i>${hotpic.data[i].look}</i></span>
                    <span style="background-position: 0 -241px;"><i>0</i></span>
                    <span style="background-position: 0 -225px;"><i>${hotpic.data[i].zan}</i></span>
                </p>
            </div>
        </li>
        `
    }
    hotul.innerHTML = str
    var pic = document.querySelectorAll('.pic')
    var hotspan = document.querySelectorAll('.head-hot')
    var hotsp = document.querySelectorAll('.head-hot span')
    pic.forEach(function (item, index) {
        item.onmouseenter = function () {
            for (let i = 0; i < pic.length; i++) {
                item.style.transform = "scale(0.97)"
            }
            hotspan[index].style.background = "url('../static/images/gray.png')"
            hotsp[index].style.display = "block"
        }
        item.onmouseleave = function () {
            for (let i = 0; i < pic.length; i++) {
                item.style.transform = "scale(1)"
            }
            hotspan[index].style.background = "url('')"
            hotsp[index].style.display = "none"
        }
    })

    var hotul2 = document.querySelector('.life .ul1')
    var str2 = ''
    for (let k = 0; k < hotpic.life.length; k++) {
        str2 += `
        <li class="li1">
            <div class="d1">
                <div class="d11">
                    <img src="${hotpic.life[k].Images}" class=d11-img>
                    <div class="head-hot1">
                        <img src="${hotpic.life[k].head}">
                        <span>${hotpic.life[k].id}</span>
                    </div>
            </div>
            <div class="img-box">`
        for (let j = 0; j < hotpic.life[k].simg.length; j++) {
            str2 += `
                <span><img src="${hotpic.life[k].simg[j].img}"><b>￥${hotpic.life[k].simg[j].price}</b></span>
           `
        }
        str2 += ` </div>
                <div class="text">
                    <a href="javascript:;">
                        ${hotpic.life[k].title}
                    </a>
                    <p class="p1"> ${hotpic.life[k].content}</p>
                    <p class="p2">
                        <span style="background-position: 0 -272px;"> <i>${hotpic.life[k].look}</i></span>
                        <span style="background-position: 0 -241px;"><i>0</i></span>
                        <span style="background-position: 0 -225px;"><i> ${hotpic.life[k].zan}</i></span>
                    </p>
                </div>
            </div>
        </li>`

    }
    hotul2.innerHTML = str2
    var li1 = document.querySelectorAll('.d11-img')
    var hotspan1 = document.querySelectorAll('.head-hot1')
    var hotsp1 = document.querySelectorAll('.head-hot1 span')
    li1.forEach(function (item, index) {
        item.onmouseenter = function () {
            for (let i = 0; i < pic.length; i++) {
                item.style.transform = "scale(0.97)"
            }
            hotspan1[index].style.background = "url('../static/images/gray.png')"
            hotsp1[index].style.display = "block"
        }
        item.onmouseleave = function () {
            for (let i = 0; i < pic.length; i++) {
                item.style.transform = "scale(1)"
            }
            hotspan1[index].style.background = "url('')"
            hotsp1[index].style.display = "none"
        }
    })


    var banxin = document.querySelector('.go-banxin')
    var list1 = document.querySelector('.list')
    var res1 = ``
    for (let z = 0; z < hotpic.shop.length; z++) {
        // console.log(z);
        // console.log(hotpic.shop);
        res1 += `<span>${hotpic.shop[z].title}</span>`
    }
    list1.innerHTML = res1
    //点击重新渲染右边图片
    var list = document.querySelectorAll('.list span')
    var cont = document.querySelector('.cont')
    var res = ''
    res += `
                    <div class="swiper-container swp2">
                        <div class="swiper-wrapper">
             `
    for (let x = 0; x < hotpic.shop[0].lunbo.length; x++) {
        res += `<div class="swiper-slide">
                <img src="${hotpic.shop[0].lunbo[x].img}">
                <span>￥${hotpic.shop[0].lunbo[x].cont}</span>
                </div>
                `
    }
    res += `</div>
                <div class="swiper-pagination swp2-pgn"></div>
            </div>
        <div class="cont-right">
            <ul>`
    for (let c = 0; c < hotpic.shop[0].simg.length; c++) {
        res += `<li>
            <img src="${hotpic.shop[0].simg[c].pic}">
            <span>￥${hotpic.shop[0].simg[c].price}</span>
            </li>`
    }
    res += `</ul></div>`
    cont.innerHTML = res
    list.forEach(function (item, index) {
        list[0].classList.add('span-active')
        item.onclick = function () {
            console.log(index);
            for (let i = 0; i < list.length; i++) {
                list[i].classList.remove('span-active')
            }
            this.classList.add('span-active')
            var cont = document.querySelector('.cont')
            var res = ''
            res += `
                    <div class="swiper-container swp2">
                        <div class="swiper-wrapper">
             `
            for (let x = 0; x < hotpic.shop[index].lunbo.length; x++) {
                res += `<div class="swiper-slide">
                <img src="${hotpic.shop[index].lunbo[x].img}">
                <span>￥${hotpic.shop[index].lunbo[x].cont}</span>
                </div>
                `
            }
            res += `</div>
                <div class="swiper-pagination swp2-pgn"></div>
            </div>
        <div class="cont-right">
            <ul>`
            for (let c = 0; c < hotpic.shop[index].simg.length; c++) {
                res += `<li>
            <img src="${hotpic.shop[index].simg[c].pic}">
            <span>￥${hotpic.shop[index].simg[c].price}</span>
            </li>`
            }
            res += `</ul></div>`
            cont.innerHTML = res

            var swiper2 = new Swiper('.swp2', {
                pagination: '.swp2-pgn',
                slidesPerView: 1,
                paginationClickable: true,
                spaceBetween: 30,
                loop: true,
                autoplay: 2000,
            });
        }
    })
</script>
<script>
    var swiper2 = new Swiper('.swp2', {
        pagination: '.swp2-pgn',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        loop: true,
        autoplay: 2000,
    });
</script>

</html>