<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/gooddeal.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_2040317_xu49wcuu7ld.css">
    <link rel="stylesheet" href="https://3.swiper.com.cn/dist/css/swiper.min.css">
</head>

<body>
    <div class="gome-head">
        <div class="logo">
            <div class="gomologo">
                <a href="javascript:;"></a>
            </div>
            <!-- 这里要添加国美首页的链接 -->
            <div class="slogan"></div>
        </div>
        <div class="topsearch">
            <div class="searchbox">
                <input type="text" placeholder="请输入真划算商品名称">
                <button>搜索</button>
            </div>
        </div>
        <ul>
            <li>
                <span class="iconfont icon-zuanshi-"></span>
                <p>品质保障</p>
            </li>
            <li>
                <span class="iconfont icon-ego-box"></span>
                <p>货到付款</p>
            </li>
            <li>
                <span class="iconfont icon-tui"></span>
                <p>退换无忧</p>
            </li>
        </ul>
    </div>
    <!-- 真划算分类 -->
    <div class="type">
        <div class="type-banixn">
            <ul class="ul1">
                <li class="li1">
                    <div class="zhen">
                        <p>真划算分类</p>
                        <span></span>
                    </div>
                    <div class="yin">
                        <ul>
                            <li>电视影音</li>
                            <li>冰洗空调</li>
                            <li>厨卫大电</li>
                            <li>厨房小电</li>
                            <li>生活电器</li>
                            <li>净化设备</li>
                            <li>手机数码</li>
                            <li>电脑外设</li>
                            <li>家居建材</li>
                            <li>家居家纺</li>
                            <li>食品酒水</li>
                            <li>保健健康</li>
                            <li>汽车用品</li>
                            <li>个护化妆</li>
                            <li>母婴玩具</li>
                            <li>服饰鞋包</li>
                            <li>钟表首饰</li>
                            <li>运动户外</li>
                            <li>生活服务</li>
                            <li>教育</li>
                        </ul>
                    </div>
                </li>
                <li class="li2">
                    <p class="p1">首页</p>
                    <p class="p2">美日必抢</p>
                </li>
                <li class="li3">
                    <div class="liulan">
                        <div class="liulan-icon">
                            <span class="sp1 sp11 iconfont icon-xiongzhang_icon"></span>
                            <div class="yin2 yin22">
                                <h2>最近浏览</h2>
                                <p>暂无历史记录,快去<span>逛逛</span>吧</p>
                            </div>
                        </div>
                    </div>
                    <div class="liulan">
                        <div class="liulan-icon">
                            <span class="sp1 sp22 iconfont icon-start-copy"></span>
                            <div class="yin2 yin223">
                                <h2>真划算收藏</h2>
                                <p>请<span>登录</span>后查看真划算收藏</p>
                            </div>
                        </div>
                    </div>
                    <div class="liulan">
                        <div class="liulan-icon">
                            <span class="sp1 iconfont icon-ren"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="group">
        <div class="group-banxin">
            <div class="left">
                <img src="https://gfs6.gomein.net.cn/wireless/T1lHJgBgxT1RCvBVdK_900_400.jpg">
            </div>
            <div class="right">
                <h2>限时抢购</h2>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="https://gfs8.gomein.net.cn/wireless/T1M8ZgBsCT1RCvBVdK_300_360.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://gfs8.gomein.net.cn/wireless/T1SMAeBgEv1RCvBVdK_300_360.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://gfs5.gomein.net.cn/wireless/T1KPJ_B5Lv1RCvBVdK_300_360.jpg">
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

            </div>
        </div>
    </div>
    <!-- 中心 -->
    <div class="groupbox">
        <div class="groupbanixn">
            <!-- 品牌街 -->
            <div class="groupbrand">
                <h2>品牌街</h2>
                <ul>
                    <li><img src="https://gfs6.gomein.net.cn/wireless/T1adAeBvVv1RCvBVdK_590_330.jpg"></li>
                    <li><img src="https://gfs8.gomein.net.cn/wireless/T1FvJ_BsdT1RCvBVdK_590_330.jpg"></li>
                </ul>
            </div>
            <div class="classtitle">
                <h2>精选商品</h2>
                <ul>
                    <li class="li-active1">热卖精选</li>
                    <li>大家电</li>
                    <li>电脑数码</li>
                    <li>厨卫电器</li>
                    <li>家居家装</li>
                    <li>快消百货</li>
                </ul>
                <a href="javascript:;">更多商品分类></a>
            </div>
            <div class="classimg">
                <ul>
                    <!-- <li>
                        <div class="prod_img">
                            <img src="https://gfs17.gomein.net.cn/T1JIJeBjVv1RCvBVdK_260.jpg">
                        </div>
                        <div class="prod_info">
                            <a href="javascript:;">
                                峁圪垯延安苹果12枚装（85-90mm左右）*1盒 皮薄多汁，口感好，果肉紧密细腻，口感酥脆，果香浓郁
                            </a>
                        </div>
                        <div class="prod_price">
                            <div class="prod-left">
                                <p class="price">
                                    <span class="now"><b>￥</b>69.90</span>
                                    <del class="cost">￥149.00</del>
                                </p>
                                <p class="count">
                                    <span class="prencent">已售0%</span>
                                    <span class="sale">
                                        <span style="width: 0px;"></span>
                                    </span>
                                </p>
                            </div>
                            <div class="prod-right">
                                立即抢购
                            </div>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</body>
<script src="https://3.swiper.com.cn/dist/js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        loop: true,
        autoplay: 3000
    });
</script>
<script src="../static/json/good.js"></script>
<script>
    var list = document.querySelectorAll('.classtitle ul li')
    var str = ''
    var ul1 = document.querySelector('.classimg ul')
    for (let l = 0; l < find.data[0].find1.length; l++) {
            str += `
                    <li>
                        <div class="prod_img">
                            <img src="${find.data[0].find1[l].Images}">
                        </div>
                        <div class="prod_info">
                            <a href="javascript:;">
                                ${find.data[0].find1[l].cont}
                            </a>
                        </div>
                        <div class="prod_price">
                            <div class="prod-left">
                                <p class="price">
                                    <span class="now"><b>￥</b>${find.data[0].find1[l].nowprice}</span>
                                    <del class="cost">${find.data[0].find1[l].oldprice}</del>
                                </p>
                                <p class="count">
                                    <span class="prencent">已售${find.data[0].find1[l].yishou}%</span>
                                    <span class="sale">
                                        <span style="width: ${find.data[0].find1[l].yishou}px;"></span>
                                    </span>
                                </p>
                            </div>
                            <div class="prod-right">
                                立即抢购
                            </div>
                        </div>
                    </li>
        `}
        ul1.innerHTML = str
    list.forEach(function (item, index) {
        item.onclick = function () {
            for (let i = 0; i < list.length; i++) {
                list[i].classList.remove('li-active1')
            }
            this.classList.add('li-active1')
            var str=''
            for (let k = 0; k < find.data[index].find1.length; k++) {

                str += `
                    <li>
                        <div class="prod_img">
                            <img src="${find.data[index].find1[k].Images}">
                        </div>
                        <div class="prod_info">
                            <a href="javascript:;">
                                ${find.data[index].find1[k].cont}
                            </a>
                        </div>
                        <div class="prod_price">
                            <div class="prod-left">
                                <p class="price">
                                    <span class="now"><b>￥</b>${find.data[index].find1[k].nowprice}</span>
                                    <del class="cost">${find.data[index].find1[k].oldprice}</del>
                                </p>
                                <p class="count">
                                    <span class="prencent">已售${find.data[index].find1[k].yishou}%</span>
                                    <span class="sale">
                                        <span style="width: ${find.data[index].find1[k].yishou}px;"></span>
                                    </span>
                                </p>
                            </div>
                            <div class="prod-right">
                                立即抢购
                            </div>
                        </div>
                    </li>
            `
            }
            ul1.innerHTML = str
        }
    })
</script>

</html>