<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册
    </title>
    <link rel="stylesheet" href="../static/css/regesiter.css">
    <link rel="shoutcut icon" href="../static/images/favicon.ico">
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.js"></script>
</head>
<body>
    <div class="main">
        <div id="gome-head">
            <div id="logo">
                <a href=""></a>
            </div>
            <p class="login-title">
                我已经注册，现在就
                <a href="../view/login.html">登录</a>
            </p>
        </div>
        
    </div>
    <div class="step-progress">
        <!-- <div class="step-slider">
            <ul>
                <li class="step-li1 "></li>
            </ul>
        </div> -->
        <div class="step-content">
            <form action="../app.js" method="GET">
                <div class="form-group">
                    <input type="text" placeholder="请输入常用手机号" class="form-control control1">
                    <i class="close close1"></i>
                    <div class="C_err_tips err1"></div>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="请输入密码" class="form-control control2">
                    <i class="close close2"></i>
                    <div class="C_err_tips err2"></div>
                </div>
                <div class="form-group-submit">
                    <a href="javascript:;" class="button" >注册</a>
                </div>
                <div class="step-link"></div>
            </form>
        </div>
    </div>
    <script src="../static/js/regesiter.js"></script>
</body>
</html>