<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的购物车_国美</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_2262163_lz0yj3fhicg.css">
    <!-- <link rel="stylesheet" href="./css/index.css"> -->
    <link rel="stylesheet" href="../static/css/shop-cart.css">
</head>
<body>
     <!--顶部-->
     <div class="gome-top">       
        <div class="wbox">
            <ul>
                <li id="gome-user">
                    <b id="loginDiv-name">
                        <a href="">国美会员</a>
                        <i></i>
                    </b>
                    <div class="public-dropdown">
                        <div id="user-name">
                            <i></i>
                            <div>
                                <p class="user-name-login">
                                    欢迎来到国美，
                                    <a href="">请登录！</a>
                                </p>
                            </div>
                        </div>
                        <div id="user-icon">
                            <p>
                                <a href="">会员俱乐部</a>
                                我的
                                <span></span>
                                特权
                            </p>
                            <a href="javascript:;" class="user-icon-prev"></a>
                            <a href="javascript:;" class="user-icon-next"></a>
                            <div>
                                <ul id="vip-left">
                                    <li>
                                        <a href="">
                                            <i class="iconfont icon-meidouchaxun"></i>
                                            美豆抽奖
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="gm-icon iconfont icon-jiagebaozheng"></i>
                                            退换货保障
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="gm-icon iconfont icon-baozhang"></i>
                                            价格保护
                                        </a>
                                    </li>
                                    <li>

                                        <a href="">
                                            <i class="gm-icon iconfont icon-meidouchaxun"></i>
                                            消费得美豆
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="gm-icon iconfont icon-hui"></i>
                                            专属阶梯价
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="gm-icon iconfont icon-liwu1"></i>
                                            生日礼包
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="gm-icon iconfont icon-xinxi"></i>
                                            更多精彩
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="loginDiv-link" class="gome-link">
                    <a href="">登录</a>
                    <a href="" class="gome-link-register">
                        注册有礼
                        <i></i>
                    </a>
                </li>
            </ul>
            <ul id="gome-top-right">
                <li class="gome-link">
                    <a href="">我的订单</a>
                </li>
                <li id="gome-mygome">
                    <b>
                        <a href="">我的国美</a>
                        <i></i>
                    </b>
                    <div class="public">
                        <strong>
                            我的国美
                            <a href="javascript:;">请登录！</a>
                        </strong>
                        <ul id="mygome-order">
                            <li><a href="javascript:;">待处理订单</a></li>
                            <li><a href="javascript:;">我的收藏</a></li>
                            <li><a href="javascript:;">个人资料</a></li>
                            <li><a href="javascript:;">我的美店</a></li>
                        </ul>
                        <ul id="mygome-coupon">
                            <li>
                                <a href="javascript:;">我的优惠券</a>
                                <ins>-</ins>
                            </li>
                        </ul>
                        <p>足迹</p>
                        <ul id="mygome-track">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </li>
                <li id="gome-enterprise">
                    <b>
                        <a href="">企业采购</a>
                        <i></i>
                    </b>
                    <div class="public-dropdown">
                        <a href="javascript:;"></a>
                    </div>
                </li>
                <li id="gome-service">
                    <b>
                        <em class="gm-icon iconfont icon-fuwuzhongxinbeifen2"></em>
                        <a href="">服务中心</a>
                        <i></i>
                    </b>
                    <div class="public-dropdown">
                        <p>
                            <a href="javascript:;">用户服务</a>
                        </p>
                        <ul>
                            <li>
                                <a href="javascript:;">售后服务</a>
                            </li>
                            <li>
                                <a href="javascript:;">帮助服务</a>
                            </li>
                            <li>
                                <a href="javascript:;">新手指南</a>
                            </li>
                            <li>
                                <a href="javascript:;">客服服务</a>
                            </li>
                            <li>
                                <a href="javascript:;">用户注销</a>
                            </li>

                        </ul>
                        <p>
                            <a href="javascript:;">商家服务</a>
                        </p>
                        <ul>
                            <li>
                                <a href="javascript:;">招商合作</a>
                            </li>
                            <li>
                                <a href="javascript:;">商家登录</a>
                            </li>
                            <li>
                                <a href="javascript:;">广告平台</a>
                            </li>
                            <li>
                                <a href="javascript:;">平台规则</a>
                            </li>
                            <li>
                                <a href="javascript:;">商家培训</a>
                            </li>

                        </ul>
                        <a href="" class="service">
                            <em class=""></em>
                            在线客服
                        </a>
                    </div>
                </li>
                <li id="gome-sitemap">
                    <b>
                        <a href="">网站导航</a>
                        <i></i>
                    </b>
                    <div class="public-dropdown">
                        <dl class="none">
                            <dt>主题销售</dt>
                            <dd>
                                <ul>
                                    <li>
                                        <a href="javascript:;">真划算</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">抢购</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">美家致选</a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <a href="javascript:;">家电城</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">服饰城</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">国美超市</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">品牌街</a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <a href="javascript:;">智能</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">今日特卖</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">新品抢先</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">家具家装</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>特色分类</dt>
                            <dd>
                                <ul>
                                    <li><a href="javascript:;">
                                            电视影音
                                        </a></li>
                                    <li><a href="javascript:;">
                                            冰洗
                                        </a></li>
                                    <li><a href="javascript:;">
                                            洗衣机
                                        </a></li>
                                    <li><a href="javascript:;">
                                            空调
                                        </a></li>
                                    <li><a href="javascript:;">
                                            厨卫生活
                                        </a></li>
                                </ul>
                                <ul>
                                    <li><a href="javascript:;">
                                            手机
                                        </a></li>
                                    <li><a href="javascript:;">
                                            数码
                                        </a></li>
                                    <li><a href="javascript:;">
                                            电脑办公
                                        </a></li>
                                    <li><a href="javascript:;">
                                            精品配件
                                        </a></li>
                                    <li><a href="javascript:;">
                                            汽车
                                        </a></li>
                                </ul>
                                <ul>
                                    <li><a href="javascript:;">
                                            住宅家居
                                        </a></li>
                                    <li><a href="javascript:;">
                                            家装建材
                                        </a></li>
                                    <li><a href="javascript:;">
                                            家居日用
                                        </a></li>
                                    <li><a href="javascript:;">
                                            床品家纺
                                        </a></li>

                                </ul>
                                <ul>
                                    <li><a href="javascript:;">
                                            服饰鞋帽
                                        </a></li>
                                    <li><a href="javascript:;">
                                            运动户外
                                        </a></li>
                                    <li><a href="javascript:;">
                                            箱包奢品
                                        </a></li>
                                    <li><a href="javascript:;">
                                            钟表首饰
                                        </a></li>

                                </ul>
                                <ul>
                                    <li><a href="javascript:;">
                                            食品酒水
                                        </a></li>
                                    <li><a href="javascript:;">
                                            母婴玩具
                                        </a></li>
                                    <li><a href="javascript:;">
                                            美妆个护
                                        </a></li>


                                </ul>

                            </dd>
                        </dl>
                        <dl>
                            <dt>便捷服务</dt>
                            <dd>
                                <ul>

                                    <li><a href="javascript:;">话费充值</a></li>
                                    <li><a href="javascript:;">美店</a></li>
                                </ul>
                                <ul>
                                    <li><a href="javascript:;">流量充值</a></li>
                                    <li><a href="javascript:;">上门服务</a></li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>更多热点</dt>
                            <dd>
                                <ul>
                                    <li>
                                        <a href="javascript:;">加盟国美</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">招商合作</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">企业采购</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>国美旗下</dt>
                            <dd>
                                <ul>
                                    <li>
                                        <a href="javascript:;">国美管家</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li id="gome-phone">
                    <b>
                        <em class="gm-icon iconfont icon-shouji"></em>
                        <a href="">手机国美</a>
                        <i></i>
                    </b>
                    <div class="public-dropdown">
                        <a href="javascript:;"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="gome-head">
        <div id="logo">
            <a href=""></a>
        </div>
        <div id="head-title" class="head-title-cart">购物车</div>
    </div>

    <div class="cart-lists">
        <div class="container">
            <div class="cart-main-header clearfix">
                <div class="cart-col-1 pr">
                    <p class="good-checkboxs-no all1"></p>
                </div>
                <p class="cart-col-2">全选</p>
                <p class="cart-col-3">    商品信息   </p>
                <p class="cart-col-4">单价</p>
                <p class="cart-col-5 text-left">    数量   </p>
                <div class="cart-col-6">
                    <p class="cart-good-amount"> 小计</p>
                </div>
                <p class="cart-col-7">    操作   </p>
            </div>
        </div>
        <!--商品-->
        <div class="container">
            <div>
                <div class="cart-shop-header">
                    <div class="cart-col-1">
                        <p class="good-checkboxs-no shop-all"></p>
                    </div>
                    <div class="cart-col-2">
                        <a href="" class="black cart-shop-name  ">       洋钒化妆品专营店      </a>
                        <span class="cart-kf cart-header-kf customerServiceAshes">
                            <i class="c-i c-kf-on"></i>
                            <span class="contact-customer-word contact-font">在线客服</span>
                        </span>
                    </div>
                </div>
                <div>
                    <div class="cart-shop-goods chearfix">
                        <div class="cart-shop-good cart-shop-good-common cart-item-last">
                            <div class="cart-col-1 border-top">
                                <p class="good-checkboxs-no product-all"></p>
                            </div>
                            <div class="cart-col-2">
                                <a href="" class="g-img">
                                    <img src="../static/images/T1L.JKBKDv1RCvBVdK_80.webp" alt="">
                                </a>
                            </div>
                            <div class="fl">
                                <div class="clearfix">
                                    <div class="cart-col-3">
                                        <div class="cart-good-name">
                                            <a href=""> Dior迪奥烈艳蓝金唇膏口红3.5g(080#樱桃红)</a>
                                        </div>
                                    </div>
                                    <div class="cart-col-8">
                                        <div class="cart-good-pro">
                                            <span class="cart-good-key">版本</span>
                                            <span class="cart-good-value">：080#樱桃红</span>
                                        </div>
                                    </div>
                                    <div class="cart-col-4 cart-price-height47">
                                        <div class="cart-good-real-price ">¥ <span>159.00</span></div>
                                        <div class="downPriceBox pr">
                                            <div class="cart-good-down-price">
                                                降价：
                                                <span class="downPrice">
                                                    ¥
                                                    <span>60.00</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-col-5">
                                        <div class="gui-count cart-count">
                                            <p class="gui-count-btn gui-count-sub gui-count-disabled">-</p>
                                            <p class="gui-count-btn gui-count-add">+</p>
                                            <div class="gui-count-input">
                                                <input type="text" class="dytest" value="1" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-col-6 ">
                                        <div class="cart-good-amount count">¥ <span>159.00</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-col-7">
                                <div class="cart-good-fun delfixed">
                                    <a href="javascript:;">删除</a>
                                </div>
                                <div class="cart-good-fun">
                                    <a href="javascript:;"> 移入收藏夹</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="container">
            <div>
                <div class="cart-shop-header">
                    <div class="cart-col-1">
                        <p class="good-checkboxs-no  shop-all"></p>
                    </div>
                    <div class="cart-col-2">
                        <a href="" class="black cart-shop-name  ">       洋钒化妆品专营店      </a>
                        <span class="cart-kf cart-header-kf customerServiceAshes">
                            <i class="c-i c-kf-on"></i>
                            <span class="contact-customer-word contact-font">在线客服</span>
                        </span>
                    </div>
                </div>
                <div>
                    <div class="cart-shop-goods chearfix">
                        <div class="cart-shop-good cart-shop-good-common cart-item-last">
                            <div class="cart-col-1 border-top">
                                <p class="good-checkboxs-no product-all"></p>
                            </div>
                            <div class="cart-col-2">
                                <a href="" class="g-img">
                                    <img src="../static/images/T1L.JKBKDv1RCvBVdK_80.webp" alt="">
                                </a>
                            </div>
                            <div class="fl">
                                <div class="clearfix">
                                    <div class="cart-col-3">
                                        <div class="cart-good-name">
                                            <a href=""> Dior迪奥烈艳蓝金唇膏口红3.5g(080#樱桃红)</a>
                                        </div>
                                    </div>
                                    <div class="cart-col-8">
                                        <div class="cart-good-pro">
                                            <span class="cart-good-key">版本</span>
                                            <span class="cart-good-value">：080#樱桃红</span>
                                        </div>
                                    </div>
                                    <div class="cart-col-4 cart-price-height47">
                                        <div class="cart-good-real-price "><span>159.00</span></div>
                                        <div class="downPriceBox pr">
                                            <div class="cart-good-down-price">
                                                降价：
                                                <span class="downPrice">
                                                    ¥
                                                    <span>60.00</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-col-5">
                                        <div class="gui-count cart-count">
                                            <p class="gui-count-btn gui-count-sub gui-count-disabled">-</p>
                                            <p  class="gui-count-btn gui-count-add">+</p>
                                            <div class="gui-count-input">
                                                <input type="text" class="dytest" value="1" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-col-6 ">
                                        <div class="cart-good-amount count">¥ <span>159.00</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-col-7">
                                <div class="cart-good-fun delfixed">
                                    <a href="javascript:;">删除</a>
                                </div>
                                <div class="cart-good-fun">
                                    <a href="javascript:;"> 移入收藏夹</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-shop-goods chearfix">
                        <div class="cart-shop-good cart-shop-good-common cart-item-last">
                            <div class="cart-col-1 border-top">
                                <p class="good-checkboxs-no product-all"></p>
                            </div>
                            <div class="cart-col-2">
                                <a href="" class="g-img">
                                    <img src="../static/images/T1L.JKBKDv1RCvBVdK_80.webp" alt="">
                                </a>
                            </div>
                            <div class="fl">
                                <div class="clearfix">
                                    <div class="cart-col-3">
                                        <div class="cart-good-name">
                                            <a href=""> Dior迪奥烈艳蓝金唇膏口红3.5g(080#樱桃红)</a>
                                        </div>
                                    </div>
                                    <div class="cart-col-8">
                                        <div class="cart-good-pro">
                                            <span class="cart-good-key">版本</span>
                                            <span class="cart-good-value">：080#樱桃红</span>
                                        </div>
                                    </div>
                                    <div class="cart-col-4 cart-price-height47">
                                        <div class="cart-good-real-price "><span>159.00</span></div>
                                        <div class="downPriceBox pr">
                                            <div class="cart-good-down-price">
                                                降价：
                                                <span class="downPrice">
                                                    ¥
                                                    <span>60.00</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-col-5">
                                        <div class="gui-count cart-count">
                                            <p class="gui-count-btn gui-count-sub gui-count-disabled">-</p>
                                            <p class="gui-count-btn gui-count-add">+</p>
                                            <div class="gui-count-input">
                                                <input type="text" class="dytest" value="1" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-col-6 ">
                                        <div class="cart-good-amount count">¥ <span>159.00</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-col-7">
                                <div class="cart-good-fun delfixed">
                                    <a href="javascript:;">删除</a>
                                </div>
                                <div class="cart-good-fun">
                                    <a href="javascript:;"> 移入收藏夹</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
        <div class="cart-bottom-wrap">
            <div class="cart-bottom-info chearfix">
                <div class="container">
                    <div class="cart-col-1 pr">
                        <p class="good-checkboxs-no all1"></p>
                    </div>
                    <p class="cart-col-2">
                        全选
                        <a href="" class="black del-goods">删除</a>
                    </p>
                    <div class="cart-col-4 pl84 ">
                        <div class="cart-bottom-selectgood">
                            已选      
                            <span class="cart-price-red selected-price">0</span>
                            件商品
                        </div>
                        <div class="bottom-total-pirce">
                            <dl>
                                <dt>总计（不含运费）</dt>
                                <dd class="cart-price-red ffyh">￥<span>0.00<span></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="cart-col-5">
                        <a href="" class="init-disabled order-btn">
                            <span class="btn-normal">
                                去结算
                                <em class="c-i arrowRight-white"></em>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/shop-cart.js"></script>
</body>
</html>